sfp-xsd-22.1.0.0/xsd/FasDisbursementInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

COPYRIGHT (C) 2013 VOCADO, LLC.  ALL RIGHTS RESERVED.  THIS SOFTWARE CONTAINS
TRADE SECRETS AND/OR CONFIDENTIAL INFORMATION PROPRIETARY TO VOCADO, LLC
AND/OR ITS LICENSORS. ACCESS TO AND USE OF THIS INFORMATION IS STRICTLY
LIMITED AND CONTROLLED BY VOCADO, LLC.  THIS SOFTWARE MAY NOT BE COPIED,
MODIFIED, DISTRIBUTED, DISPLAYED, DISCLOSED OR USED IN ANY WAY NOT EXPRESSLY
AUTHORIZED BY VOCADO, LLC IN WRITING.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.vocado.com/vm/common"
           xmlns="http://www.vocado.com/vm/fas"
           targetNamespace="http://www.vocado.com/vm/fas"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <xs:include schemaLocation="common/FasCommon.xsd"/>
    <xs:include schemaLocation="common/FasStudentAcademicsCommon.xsd"/>
    <xs:include schemaLocation="common/FasDisbursementCommon.xsd"/>
    <xs:include schemaLocation="common/FasDisbursementInformationCommon.xsd"/>
    <xs:import namespace="http://www.vocado.com/vm/common" schemaLocation="common/VocadoCommon.xsd"/>


    <xs:annotation>
        <xs:documentation>
            These messages pertain to student disbursements:
            FasDisbursementInformationEvent: Disbursement information, generated by internal events such as repackaging.
            FasDisbursementInformationReply: Disbursement information, generated by a customer request.
            FasDisbursementInformationRequest: The customer request.
            FasDisbursementInformationEvent and FasDisbursementInformationReply contain the same data. The only
            difference between the two messages lies in what triggers them.
        </xs:documentation>
    </xs:annotation>

    <xs:element name="FasDisbursementInformationEvent">
        <xs:annotation>
            <xs:documentation>
                This Message is created by the Vocado FAS system to provide the disbursement information.
                The generation of a message of this type could be triggered via an event or web-service call.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <!-- Note: this forces XJC to generate a class with the name of the top-level element -->
                <xs:extension base="FasDisbursementInformationType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="FasDisbursementInformationRequest">
        <xs:annotation>
            <xs:documentation>
                A customer sends this message to request a student's disbursements.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="vc:EnvelopeType">
                    <xs:sequence>
                        <xs:choice>
                            <xs:sequence>
                                <xs:element name="ExternalStudentId" type="vc:ExternalIdentifierType"/>
                                <xs:element name="ProgramCode" minOccurs="0" type="ProgramCodeType"/>
                            </xs:sequence>
                            <xs:element name="EnrollmentId" type="vc:NonBlankStringType"/>
                        </xs:choice>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>


    <xs:element name="FasDisbursementInformationReply">
        <xs:annotation>
            <xs:documentation>
                This message describes a student's disbursements.
                The system sends it in response to a FasDisbursementInformationRequest message.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <!-- Note: this forces XJC to generate a class with the name of the top-level element -->
                <xs:extension base="FasDisbursementInformationType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="FasDisbursementInformationType">
        <xs:complexContent>
            <xs:extension base="vc:EnvelopeType">
                <xs:sequence>
                    <xs:element name="Student" type="FasDisbursementStudent"/>
                    <xs:element name="Program" type="FasDisbursementProgram"/>
                    <xs:element name="Process" minOccurs="0" type="FasProcessType"/>
                    <xs:element name="Funds" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Fund" type="DiFundType" minOccurs="1" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DiFundType">
        <xs:sequence>
            <xs:element name="FundType" type="FundTypeEnum"/>
            <xs:element name="FundCode" type="vc:NonBlankStringType"/>
            <xs:element name="FundExtension" type="vc:NonBlankStringType" minOccurs="0"/>
            <xs:element name="AcademicYears">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="AcademicYear" type="DiAcademicYearType" minOccurs="1" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DiAcademicYearType">
        <xs:complexContent>
            <xs:extension base="FasBaseAcademicYearType">
                <xs:choice minOccurs="1" maxOccurs="1">
                    <xs:element name="PaymentPeriods" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="PaymentPeriod" type="DiPaymentPeriodType" minOccurs="0"
                                            maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="LoanPeriod" type="DiLoanPeriodType" minOccurs="0"/>
                    <xs:element name="NfrPeriods" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="NfrPeriod" type="DiNfrPeriodType" minOccurs="0"
                                            maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DiLoanPeriodType">
        <xs:complexContent>
            <xs:extension base="FasBaseLoanPeriodType">
                <xs:sequence>
                    <xs:element name="LoanPaymentPeriods" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="LoanPaymentPeriod" type="DiLoanPaymentPeriodType" minOccurs="0"
                                            maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>