sfp-xsd-22.1.0.0/xsd/FasFinancialPlanOutbound.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

COPYRIGHT (C) 2013 VOCADO, LLC.  ALL RIGHTS RESERVED.  THIS SOFTWARE CONTAINS
TRADE SECRETS AND/OR CONFIDENTIAL INFORMATION PROPRIETARY TO VOCADO, LLC
AND/OR ITS LICENSORS. ACCESS TO AND USE OF THIS INFORMATION IS STRICTLY
LIMITED AND CONTROLLED BY VOCADO, LLC.  THIS SOFTWARE MAY NOT BE COPIED,
MODIFIED, DISTRIBUTED, DISPLAYED, DISCLOSED OR USED IN ANY WAY NOT EXPRESSLY
AUTHORIZED BY VOCADO, LLC IN WRITING.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.vocado.com/vm/common"
           xmlns:fas="http://www.vocado.com/vm/fas"
           xmlns="http://www.vocado.com/vm/fas"
           targetNamespace="http://www.vocado.com/vm/fas"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <xs:include schemaLocation="common/FasCommon.xsd"/>
    <xs:include schemaLocation="common/FasStudentAcademicsCommon.xsd"/>
    <xs:include schemaLocation="common/CommonFasFinancialPlanOutbound.xsd"/>
    <xs:import namespace="http://www.vocado.com/vm/common" schemaLocation="common/VocadoCommon.xsd"/>

    <xs:annotation>
        <xs:documentation>
            These messages pertain to student financial plan data:
            FasFinancialPlanOutboundEvent: Students financial plan information, generated by internal events such as
            packaging/ repackaging.
            FasFinancialPlanOutboundReply: Students financial plan information, generated by a customer request.
            FasFinancialPlanOutboundRequest: The customer request for students financial plan information.
            FasFinancialPlanOutboundEvent and FasFinancialPlanOutboundResponse contain the same data. The only
            difference between the two messages is what triggers them.
        </xs:documentation>
    </xs:annotation>


    <xs:element name="FasFinancialPlanOutboundEvent">
        <xs:annotation>
            <xs:documentation>
                This Message is created by the Vocado FAS system to provide information on a students financial plan.
                The system generates this message in response to events.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="FasFinancialPlanOutboundType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="FasFinancialPlanOutboundRequest">
        <xs:annotation>
            <xs:documentation>
                A customer sends this message to request a student's financial plan.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="vc:EnvelopeType">
                    <xs:sequence>
                        <xs:choice>
                            <xs:sequence>
                                <xs:element name="ExternalStudentId" type="vc:ExternalIdentifierType"/>
                                <xs:element name="ProgramCode" minOccurs="0" type="ProgramCodeType"/>
                            </xs:sequence>
                            <xs:element name="EnrollmentId" type="vc:NonBlankStringType"/>
                        </xs:choice>
                        <xs:element name="PackagingVersionNumber" minOccurs="0" type="vc:NonNegativeIntType"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="FasFinancialPlanOutboundReply">
        <xs:annotation>
            <xs:documentation>
                This message describes a student's financial plan.
                The system sends it in response to a FasFinancialPlanOutboundRequest message.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="FasFinancialPlanOutboundType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="FasFinancialPlanOutboundType">
        <xs:complexContent>
            <xs:extension base="vc:EnvelopeType">
                <xs:sequence>
                    <xs:element name="Student" type="fas:FpoStudentType"/>
                    <xs:element name="PackagingVersionNumber" type="vc:NonNegativeIntType"> <!-- check the type -->
                        <xs:annotation>
                            <xs:documentation>
                                Indicates the version number of the financial plan for the student.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="RepackagingTrigger" minOccurs="0" type="fas:FpoRepackagingTriggerType"/>
                    <xs:element name="AwardYears" minOccurs="0" type="fas:FpoAwardYearsType"/>
                    <xs:element name="Nslds" minOccurs="0" type="fas:FpoNsldsType"/>
                    <xs:element name="Programs">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Program" type="FpoProgramType" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="UnspecifiedProgram" type="FpoUnspecifiedProgramType" minOccurs="0"/>
                    <xs:element name="ClientMessages" minOccurs="0" type="fas:FpoClientMessagesType"/>
                    <xs:element name="Charges" minOccurs="0" type="fas:FpoChargesType"/>
                    <xs:element name="StudentResources" minOccurs="0" type="fas:FpoStudentResourcesType"/>

                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FpoProgramType">
        <xs:complexContent>
            <xs:extension base="FasBaseProgramType">
                <xs:sequence>

                    <xs:element name="TermType" type="TermTypeEnum" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Term type enum</xs:documentation>
                        </xs:annotation>
                    </xs:element>

                    <xs:element name="AcademicYears" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="AcademicYear" maxOccurs="unbounded" type="fas:FpoAcademicYearType">
                                    <xs:key name="KPaymentPeriodNumber">
                                        <xs:selector xpath="fas:PaymentPeriods/fas:PaymentPeriod"/>
                                        <xs:field xpath="fas:PaymentPeriodNumber"/>
                                    </xs:key>
                                    <xs:keyref name="FKPaymentPeriodNumber" refer="KPaymentPeriodNumber">
                                        <xs:selector
                                                xpath="fas:Funds/fas:TitleIVGrant/fas:GrantPaymentPeriods"/>
                                        <xs:field xpath="fas:Number"/>
                                    </xs:keyref>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FpoAcademicYearType">
        <xs:sequence>
            <xs:element name="AcademicYearNumber" type="vc:PositiveIntType"/>
            <xs:element name="AcademicYearEnrollmentStatus" type="FpoAcademicYearEnrollmentStatusEnum"/>
            <xs:element name="TotalUnits">
                <xs:simpleType>
                    <xs:restriction base="xs:double">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="TotalInstructionalWeeks">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="TotalNumberOfMonths" type="vc:NonNegativeIntType"/>
            <xs:element name="StartDate" type="xs:date"/>
            <xs:element name="PeriodOfEnrollmentStartDate" type="xs:date" minOccurs="0"/>
            <xs:element name="EndDate" type="xs:date"/>
            <xs:element name="PeriodOfEnrollmentEndDate" type="xs:date" minOccurs="0"/>
            <xs:element name="AcademicYearStatus" type="FpoPeriodSchedulingStatusEnum"/>
            <xs:element name="PackagingStatus" type="FpoPackagingStatusEnum">
                <xs:annotation>
                    <xs:documentation>Status of the academic year package</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PackagingLimit" type="FpoAcademicYearTypePackagingLimitEnum" minOccurs="0"/>
            <xs:element name="Process" minOccurs="0" type="FasProcessType"/>
            <xs:element name="Coa" type="FpoCoaType"/>
            <xs:element name="Charges" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Charge" type="FasBaseChargeType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:choice>
                <xs:element name="PaymentPeriods">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="PaymentPeriod" type="FpoPaymentPeriodType" maxOccurs="2"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="TermPeriods">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TermPeriod" type="FpoPaymentPeriodType" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:choice>

            <xs:element name="Funds" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TitleIVGrant" minOccurs="0" maxOccurs="unbounded" type="fas:FpoTitleIVGrantType">
                            <xs:key name="KGrantPaymentPeriodNumber">
                                <xs:selector xpath="fas:GrantPaymentPeriods/fas:GrantPaymentPeriod"/>
                                <xs:field xpath="fas:Number"/>
                            </xs:key>
                        </xs:element>
                        <xs:element name="TitleIVDirectLoan" minOccurs="0" maxOccurs="unbounded" type="fas:FpoTitleIVDirectLoanType">
                            <xs:key name="KLoanPaymentPeriodNumber">
                                <xs:selector xpath="fas:LoanPeriod/fas:LoanPaymentPeriods/fas:LoanPaymentPeriod"/>
                                <xs:field xpath="fas:LoanPaymentPeriodNumber"/>
                            </xs:key>
                        </xs:element>
                        <xs:element name="TitleIVLoan" type="FpoTitleIVGrantType" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="Nfr" minOccurs="0" maxOccurs="unbounded" type="FpoNfrType"/>
                        <xs:element name="StudentResource" type="FpoFundStudentResourceType" minOccurs="0"
                                    maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FpoTitleIVDirectLoanType">
        <xs:complexContent>
            <xs:extension base="fas:FpoBaseTitleIVFundType">
                <xs:sequence>
                    <xs:element name="MPNIndicator" type="xs:boolean"/>
                    <xs:element name="GradeLevel" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:int">
                                <xs:minInclusive value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="LoanPeriod" type="FpoLoanPeriodType" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FpoPaymentPeriodType">
        <xs:sequence>
            <xs:element name="PaymentPeriodNumber" type="fas:PaymentPeriodNumberType" minOccurs="0"/>
            <xs:element name="Description" type="xs:string" minOccurs="0"/>
            <xs:element name="StartDate" type="xs:date"/>
            <xs:element name="EndDate" type="xs:date"/>
            <xs:element name="Status" type="fas:FpoPeriodSchedulingStatusEnum">
                <xs:annotation>
                    <xs:documentation>
                        Status of the Payment Period
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TotalUnits">
                <xs:simpleType>
                    <xs:restriction base="xs:double">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="TotalInstructionalWeeks">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="TitleIVIneligibilityIndicator" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Indicates if the student is Title IV ineligible for the payment period
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PellIneligibilityIndicator" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Indicates if the student is Pell ineligible for the payment period
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SapStatus" type="fas:FpoPaymentPeriodSapStatusEnum" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Payment Period SAP Status
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Courses" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Course" type="FpoCourseType" minOccurs="0"
                                    maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FpoLoanPeriodType">
        <xs:sequence>
            <xs:element name="StartDate" type="xs:date"/>
            <xs:element name="EndDate" type="xs:date"/>
            <xs:element name="AwardYear" type="fas:AwardYearType"/>
            <xs:element name="LoanPaymentPeriods">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="LoanPaymentPeriod" type="FpoLoanPaymentPeriodType" minOccurs="1"
                                    maxOccurs="2"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FpoCoaType">
        <xs:sequence>
            <xs:element name="TotalCoa">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Amount">
                            <xs:simpleType>
                                <xs:restriction base="xs:int">
                                    <xs:minInclusive value="0"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="CoaComponents" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="CoaComponent" type="FpoCoaComponentType" minOccurs="0"
                                                maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ActualCoa">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FpoTitleIVGrantType">
        <xs:complexContent>
            <xs:extension base="fas:FpoBaseTitleIVFundType">
                <xs:sequence>
                    <xs:element name="GrantPaymentPeriods" minOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="GrantPaymentPeriod" type="fas:FpoGrantPaymentPeriodType" minOccurs="1"
                                            maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>