sfp-xsd-22.1.0.0/xsd/FasGrantOverpayment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ COPYRIGHT (c) 2014 VOCADO, LLC.  ALL RIGHTS RESERVED.  THIS SOFTWARE CONTAINS
  ~ TRADE SECRETS AND/OR CONFIDENTIAL INFORMATION PROPRIETARY TO VOCADO, LLC AND/OR
  ~ ITS LICENSORS. ACCESS TO AND USE OF THIS INFORMATION IS STRICTLY LIMITED AND
  ~ CONTROLLED BY VOCADO, LLC.  THIS SOFTWARE MAY NOT BE COPIED, MODIFIED, DISTRIBUTED,
  ~ DISPLAYED, DISCLOSED OR USED IN ANY WAY NOT EXPRESSLY AUTHORIZED BY VOCADO, LLC IN WRITING.
  -->

<xs:schema xmlns="http://www.vocado.com/vm/fas"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.vocado.com/vm/common"
           xmlns:fas="http://www.vocado.com/vm/fas"
           targetNamespace="http://www.vocado.com/vm/fas"
           elementFormDefault="qualified">

    <xs:include schemaLocation="common/FasCommon.xsd"/>
    <xs:import namespace="http://www.vocado.com/vm/common" schemaLocation="common/VocadoCommon.xsd"/>
    <xs:include schemaLocation="common/FasStudentAcademicsCommon.xsd"/>

    <xs:annotation>
        <xs:documentation>
            These messages pertain to Grant Overpayments:
            FasGrantOverpaymentReferralEvent: User notification of an overdue Grant Overpayment, generated by internal events such as the student's grace period expiring.
        </xs:documentation>
    </xs:annotation>

    <xs:element name="FasGrantOverpaymentReferralEvent">
        <xs:annotation>
            <xs:documentation>
                This message is sent by the Vocado system to notify the user to tell the Debt Resolution Services
                (DRS) that a student has an overdue Grant Overpayment.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="vc:EnvelopeType">
                    <xs:sequence>
                        <xs:element name="Student">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ExternalStudentId" type="vc:ExternalIdentifierType"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Funds">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Fund" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="FundCode" type="vc:NonBlankStringType"/>
                                                <xs:element name="GrantOverpaymentAmount" type="vc:NonNegativeIntType"/>
                                                <xs:element name="GrantOverpaymentDOD" type="xs:date"/>
                                                <xs:element name="GrantOverpaymentStatus" type="FasGrantOverpaymentIndicatorEnum"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                            <xs:unique name="UFasGrantOverpaymentFundCode">
                                <xs:selector xpath="fas:Fund"/>
                                <xs:field xpath="fas:FundCode"/>
                            </xs:unique>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="FasGrantOverpaymentIndicatorEnum">
        <xs:annotation>
            <xs:documentation>
                The set of enumeration values that specify a fund's Grant Overpayment Status.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Not Reported"/>
            <xs:enumeration value="Reported"/>
            <xs:enumeration value="Resolved"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>