sfp-xsd-22.1.0.0/xsd/FasLetter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

COPYRIGHT (C) 2014 VOCADO, LLC.  ALL RIGHTS RESERVED.  THIS SOFTWARE CONTAINS
TRADE SECRETS AND/OR CONFIDENTIAL INFORMATION PROPRIETARY TO VOCADO, LLC
AND/OR ITS LICENSORS. ACCESS TO AND USE OF THIS INFORMATION IS STRICTLY
LIMITED AND CONTROLLED BY VOCADO, LLC.  THIS SOFTWARE MAY NOT BE COPIED,
MODIFIED, DISTRIBUTED, DISPLAYED, DISCLOSED OR USED IN ANY WAY NOT EXPRESSLY
AUTHORIZED BY VOCADO, LLC IN WRITING.

-->
<xs:schema xmlns="http://www.vocado.com/vm/fas"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.vocado.com/vm/common"
           targetNamespace="http://www.vocado.com/vm/fas"
           elementFormDefault="qualified">

    <xs:include schemaLocation="common/FasCommon.xsd"/>
    <xs:include schemaLocation="common/FasStudentAcademicsCommon.xsd"/>
    <xs:import namespace="http://www.vocado.com/vm/common" schemaLocation="common/VocadoCommon.xsd"/>

    <xs:annotation>
        <xs:documentation>
            These messages are related Letter notification process
            FasLetterNotificationEvent: Letter information, generated by internal events.
            FasLetterInformationReply: Letter information, generated by a customer request.
            FasLetterInformationRequest: The customer request.
            FasLetterInformationEventType and FasLetterInformationReply contain the same data. The only
            difference between the two messages lies in what triggers them.
        </xs:documentation>
    </xs:annotation>

    <xs:element name="FasLetterNotificationEvent">
        <xs:annotation>
            <xs:documentation>
                This message describes a Letter information.
                The system generates this message in response to an event.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <!-- Note: this forces XJC to generate a class with the name of the top-level element -->
                <xs:extension base="FasLetterNotificationEventType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="FasLetterInformationRequest">
        <xs:annotation>
            <xs:documentation>
                A customer sends this message to request a Letter information for a given letter id.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="vc:EnvelopeType">
                    <xs:sequence>
                        <xs:element name="LetterId" type="vc:UuidType"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="FasStudentLetterListRequest">
        <xs:annotation>
            <xs:documentation>
                Request message to retrieve all letters for the given student id.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="vc:EnvelopeType">
                    <xs:sequence>
                        <xs:element name="ExternalStudentId" type="vc:ExternalIdentifierType"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="FasStudentLetterListReply">
        <xs:annotation>
            <xs:documentation>
                Reply with all student letter metadata information.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="FasLetterListType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="FasLetterInformationReply">
        <xs:annotation>
            <xs:documentation>
                This message describes a Letter information for a given letter id.
                This message contains Letter PDF data.
                The system sends it in response to a FasLetterInformationRequest message.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <!-- Note: this forces XJC to generate a class with the name of the top-level element -->
                <xs:extension base="FasLetterNotificationEventType">
                    <xs:sequence>
                        <xs:element name="LetterPdf">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Base64Blob" type="vc:Base64BlobType"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Helper definitions -->

    <xs:complexType name="FasLetterNotificationEventType">
        <xs:complexContent>
            <xs:extension base="vc:EnvelopeType">
                <xs:sequence>
                    <xs:element name="Student">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ExternalStudentId" type="vc:ExternalIdentifierType"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="LetterData" type="FasLetterDataType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FasLetterDataType">
        <xs:sequence>
            <xs:element name="LetterId" type="vc:UuidType"/>
            <xs:element name="LetterCode" type="vc:NonBlankStringType"/>
            <xs:element name="LetterDescription" type="vc:NonBlankStringType"/>
            <xs:element name="AwardYear" type="AwardYearType" minOccurs="0"/>
            <xs:element name="LetterCreateDateTime" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="LetterContext" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MessageId" type="vc:UuidType" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Unique identifier of the related outbound
                                    message that triggered this particular letter
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="MessageClass" type="vc:NonBlankStringType">
                            <xs:annotation>
                                <xs:documentation>Unique message class name of the related
                                    outbound message that triggered this particular letter
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FasLetterListType">
        <xs:complexContent>
            <xs:extension base="vc:EnvelopeType">
                <xs:sequence>
                    <xs:element name="Student">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ExternalStudentId" type="vc:ExternalIdentifierType"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="LetterDataList">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="LetterData" type="FasLetterDataType" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>