sfp-xsd-22.1.0.0/xsd/FasStudentEnrollmentInformation.xsd

<!--
  ~ COPYRIGHT (c) 2015 VOCADO, LLC.  ALL RIGHTS RESERVED.  THIS SOFTWARE CONTAINS
  ~ TRADE SECRETS AND/OR CONFIDENTIAL INFORMATION PROPRIETARY TO VOCADO, LLC AND/OR 
  ~ ITS LICENSORS. ACCESS TO AND USE OF THIS INFORMATION IS STRICTLY LIMITED AND 
  ~ CONTROLLED BY VOCADO, LLC.  THIS SOFTWARE MAY NOT BE COPIED, MODIFIED, DISTRIBUTED, 
  ~ DISPLAYED, DISCLOSED OR USED IN ANY WAY NOT EXPRESSLY AUTHORIZED BY VOCADO, LLC IN WRITING.
  -->

<xs:schema xmlns="http://www.vocado.com/vm/fas"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.vocado.com/vm/common"
           targetNamespace="http://www.vocado.com/vm/fas"
           elementFormDefault="qualified">

    <xs:include schemaLocation="common/FasCommon.xsd"/>
    <xs:import namespace="http://www.vocado.com/vm/common" schemaLocation="common/VocadoCommon.xsd"/>
    <xs:include schemaLocation="common/FasStudentAcademicsCommon.xsd"/>

    <xs:annotation>
        <xs:documentation>
            These messages pertain to student enrollments:
                FasStudentEnrollmentInformationReply: Enrollment information, generated by a customer request.
                FasStudentEnrollmentInformationRequest: The customer request.
        </xs:documentation>
    </xs:annotation>

    <xs:element name="FasStudentEnrollmentInformationRequest">
        <xs:annotation>
            <xs:documentation>
                A customer sends this message to request a student's enrollment information.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="vc:EnvelopeType">
                    <xs:sequence>
                        <xs:element name="ExternalStudentId" type="vc:ExternalIdentifierType"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="FasStudentEnrollmentInformationReply">
        <xs:annotation>
            <xs:documentation>
                This message is the reply to a FasStudentEnrollmentInformationRequest.  The reply summarizes a student's
                enrollments.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
            <xs:extension base="vc:EnvelopeType">
                <xs:sequence minOccurs="0">
                    <xs:element name="Student">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ExternalStudentId" type="vc:ExternalIdentifierType"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="EnrollmentPrograms">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="EnrollmentProgram" minOccurs="0" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Enrollment">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="EnrollmentId" type="vc:NonBlankStringType"/>
                                                        <xs:element name="EnrollmentStartDate" type="xs:date"/>
                                                        <xs:element name="EnrollmentEndDate" type="xs:date" minOccurs="0"/>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="Program">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="ProgramCode" type="ProgramCodeType"/>
                                                        <xs:element name="ExternalProgramId" type="vc:NonBlankStringType"/>
                                                        <xs:element name="Description" type="vc:NonBlankStringType"/>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>