sfp-xsd-22.1.0.0/xsd/FasSapAppealsProcessInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

COPYRIGHT (C) 2014 VOCADO, LLC.  ALL RIGHTS RESERVED.  THIS SOFTWARE CONTAINS
TRADE SECRETS AND/OR CONFIDENTIAL INFORMATION PROPRIETARY TO VOCADO, LLC
AND/OR ITS LICENSORS. ACCESS TO AND USE OF THIS INFORMATION IS STRICTLY
LIMITED AND CONTROLLED BY VOCADO, LLC.  THIS SOFTWARE MAY NOT BE COPIED,
MODIFIED, DISTRIBUTED, DISPLAYED, DISCLOSED OR USED IN ANY WAY NOT EXPRESSLY
AUTHORIZED BY VOCADO, LLC IN WRITING.

-->
<xs:schema xmlns="http://www.vocado.com/vm/fas"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.vocado.com/vm/common"
           targetNamespace="http://www.vocado.com/vm/fas"
           elementFormDefault="qualified">

    <xs:include schemaLocation="common/FasCommon.xsd"/>
    <xs:import namespace="http://www.vocado.com/vm/common" schemaLocation="common/VocadoCommon.xsd"/>
    <xs:include schemaLocation="common/FasStudentAcademicsCommon.xsd"/>

    <xs:annotation>
        <xs:documentation>
            These messages are related to SAP appeals process information:
            FasSapAppealsProcessInformationEvent: SAP appeals process information, generated by internal events such as repackaging.
            FasSapAppealsProcessInformationReply: SAP appeals process information, generated by a customer request.
            FasSapAppealsProcessInformationRequest: The customer request.
            FasSapAppealsProcessInformationEventType and FasSapAppealsProcessInformationReply contain the same data.  The only
            difference between the two messages lies in what triggers them.
        </xs:documentation>
    </xs:annotation>

    <xs:element name="FasSapAppealsProcessInformationEvent">
        <xs:annotation>
            <xs:documentation>
                This message describes a SAP appeals information.
                The system generates this message in response to an event.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <!-- Note: this forces XJC to generate a class with the name of the top-level element -->
                <xs:extension base="FasSapAppealsProcessInformationEventType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="FasSapAppealsProcessInformationRequest">
        <xs:annotation>
            <xs:documentation>
                A customer sends this message to request a SAP appeals process information for a given external student id.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="vc:EnvelopeType">
                    <xs:sequence>
                        <xs:element name="ExternalStudentId" type="vc:ExternalIdentifierType"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="FasSapAppealsProcessInformationReply">
        <xs:annotation>
            <xs:documentation>
                This message describes a SAP appeals information for an external student id.
                The system sends it in response to a FasSapAppealsProcessInformationRequest message.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <!-- Note: this forces XJC to generate a class with the name of the top-level element -->
                <xs:extension base="FasSapAppealsProcessInformationReplyType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Helper definitions -->

    <xs:complexType name="FasSapAppealsProcessInformationEventType">
        <xs:complexContent>
            <xs:extension base="vc:EnvelopeType">
                <xs:sequence>
                    <xs:element name="Student">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ExternalStudentId" type="vc:ExternalIdentifierType"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Process">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="InstanceId" type="vc:PositiveIntType"/>
                                <xs:element name="Status" type="ProcessStatusEnum"/>
                                <xs:element name="Name">
                                    <xs:simpleType>
                                        <xs:restriction base="ProcessNameEnum">
                                            <xs:enumeration value="SAP Appeals"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element name="OpenDate" type="xs:date"/>
                                <xs:element name="CloseDate" type="xs:date" minOccurs="0"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="ProgramDetails">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Code" type="vc:NonBlankStringType"/>
                                <xs:element name="Description" type="vc:NonBlankStringType"/>
                                <xs:element name="RequiredGpa" type="vc:NonNegativeDoubleType"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="AcademicYearDates">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Number" type="vc:PositiveIntType"/>
                                <xs:element name="StartDate" type="xs:date"/>
                                <xs:element name="PeriodOfEnrollmentStartDate" type="xs:date" minOccurs="0"/>
                                <xs:element name="EndDate" type="xs:date"/>
                                <xs:element name="PeriodOfEnrollmentEndDate" type="xs:date" minOccurs="0"/>
                                <xs:element name="PaymentPeriodDates">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Number" type="vc:PositiveIntType"/>
                                            <xs:element name="StartDate" type="xs:date"/>
                                            <xs:element name="EndDate" type="xs:date"/>
                                            <xs:element name="SapData">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="SapStatus" type="SapStatusEnum"/>
                                                    <xs:element name="MaxTimeFrameStatus" type="SapComponentStatusEnum"/>
                                                    <xs:element name="MaxTimeFrameValue" type="vc:PercentageType"/>
                                                    <xs:element name="PaceOfCompletionStatus" type="SapComponentStatusEnum"/>
                                                    <xs:element name="PaceOfCompletionValue" type="vc:PercentageType"/>
                                                    <xs:element name="PaceOfCompletionDisabled" type="xs:boolean" minOccurs="0"/>
                                                    <xs:element  name="GpaStatus" type="SapComponentStatusEnum"/>
                                                    <xs:element name="ProgramGpaAtSapEvaluationDate" type="vc:NonNegativeDoubleType"/>
                                                    <xs:element name="SapEvaluationDate" type="xs:date"/>
                                                    <xs:element name="SapAppeals" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="AppealStatus" type="SapAppealStatusEnum" minOccurs="0"/>
                                                                <xs:element name="NumberOfApprovedAppealsOnFile" type="vc:NonNegativeIntType" minOccurs="0"/>
                                                                <xs:element name="MaximumNumberOfAppealsAllowed" type="vc:NonNegativeIntType" minOccurs="0"/>
                                                                <xs:element name="SapAppealsDate" type="xs:date" minOccurs="0"/>
                                                                <xs:element name="RequiredDocuments" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="Document" type="FasSapAppealsProcessInformation_Document" minOccurs="0" maxOccurs="unbounded"/>
                                                                            <xs:element name="OneOf" type="FasSapAppealsProcessInformation_OneOf" minOccurs="0"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>

                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FasSapAppealsProcessInformation_OneOf">
        <xs:sequence>
            <xs:element name="Document"
                        type="FasSapAppealsProcessInformation_Document"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FasSapAppealsProcessInformation_Document">
        <xs:sequence>
            <xs:element name="AwardYear" type="AwardYearType" minOccurs="0"/>
            <xs:element name="DocumentCode" type="vc:NonBlankStringType"/>
            <xs:element name="DocumentName" type="vc:NonBlankStringType"/>
            <xs:element name="DocumentOwnerType" type="DocumentOwnerTypeEnum"/>
            <xs:element name="DocumentRequestDate" type="xs:date"/>
            <xs:element name="ExternalDocumentId" type="vc:ExternalIdentifierType" minOccurs="0"/>
            <xs:element name="DocumentStatus" type="DocumentStatusEnum"/>
            <xs:element name="DocumentStatusDate" type="xs:date" minOccurs="0"/>
            <xs:element name="DocumentReceiptDate" type="xs:date" minOccurs="0"/>
            <xs:element name="ReminderDocumentRequestDate" type="xs:date" minOccurs="0"/>
            <xs:element name="DocumentRationale" type="DocumentRationaleEnum"/>
            <xs:element name="DaysSinceOriginalDocumentRequest" type="vc:NonNegativeIntType" minOccurs="0"/>
            <xs:element name="Message" type="vc:NonBlankStringType" minOccurs="0"/>
            <xs:element name="SupportingDocuments" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="OneOf" type="FasSapAppealsProcessInformation_OneOf" minOccurs="0"/>
                        <xs:element name="Document" type="FasSapAppealsProcessInformation_Document" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FasSapAppealsProcessInformationReplyType">
        <xs:complexContent>
            <xs:extension base="vc:EnvelopeType">
                <xs:sequence>
                    <xs:element name="Student">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ExternalStudentId" type="vc:ExternalIdentifierType"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="ProgramsDetails">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ProgramDetail" type="SapAppealsProgramDetailType" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SapAppealsProgramDetailType">
        <xs:sequence>
            <xs:element name="Code" type="vc:NonBlankStringType"/>
            <xs:element name="Description" type="vc:NonBlankStringType"/>
            <xs:element name="RequiredGpa" type="vc:NonNegativeDoubleType"/>
            <xs:element name="Process" type="SapAppealsProcessType"/>
            <xs:element name="AcademicYearDates" type="SapAppealsAcademicYearDatesType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SapAppealsProcessType">
        <xs:sequence>
            <xs:element name="InstanceId" type="vc:PositiveIntType"/>
            <xs:element name="Status" type="ProcessStatusEnum"/>
            <xs:element name="Name">
                <xs:simpleType>
                    <xs:restriction base="ProcessNameEnum">
                        <xs:enumeration value="SAP Appeals"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="OpenDate" type="xs:date"/>
            <xs:element name="CloseDate" type="xs:date" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SapAppealsAcademicYearDatesType">
        <xs:sequence>
            <xs:element name="Number" type="vc:PositiveIntType"/>
            <xs:element name="StartDate" type="xs:date"/>
            <xs:element name="PeriodOfEnrollmentStartDate" type="xs:date" minOccurs="0"/>
            <xs:element name="EndDate" type="xs:date"/>
            <xs:element name="PeriodOfEnrollmentEndDate" type="xs:date" minOccurs="0"/>
            <xs:element name="PaymentPeriodDates">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Number" type="vc:PositiveIntType"/>
                        <xs:element name="StartDate" type="xs:date"/>
                        <xs:element name="EndDate" type="xs:date"/>
                        <xs:element name="SapData">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="SapStatus" type="SapStatusEnum"/>
                                    <xs:element name="MaxTimeFrameStatus" type="SapComponentStatusEnum"/>
                                    <xs:element name="MaxTimeFrameValue" type="vc:PercentageType"/>
                                    <xs:element name="PaceOfCompletionStatus" type="SapComponentStatusEnum"/>
                                    <xs:element name="PaceOfCompletionValue" type="vc:PercentageType"/>
                                    <xs:element name="PaceOfCompletionDisabled" type="xs:boolean" minOccurs="0"/>
                                    <xs:element name="GpaStatus" type="SapComponentStatusEnum"/>
                                    <xs:element name="ProgramGpaAtSapEvaluationDate" type="vc:NonNegativeDoubleType"/>
                                    <xs:element name="SapEvaluationDate" type="xs:date"/>
                                    <xs:element name="SapAppeals" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="AppealStatus" type="SapAppealStatusEnum" minOccurs="0"/>
                                                <xs:element name="NumberOfApprovedAppealsOnFile" type="vc:NonNegativeIntType" minOccurs="0"/>
                                                <xs:element name="MaximumNumberOfAppealsAllowed" type="vc:NonNegativeIntType" minOccurs="0"/>
                                                <xs:element name="SapAppealsDate" type="xs:date" minOccurs="0"/>
                                                <xs:element name="RequiredDocuments" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Document" type="FasSapAppealsProcessInformation_Document" minOccurs="0" maxOccurs="unbounded"/>
                                                            <xs:element name="OneOf" type="FasSapAppealsProcessInformation_OneOf" minOccurs="0"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>