sfp-xsd-22.1.0.0/xsd/FasStudentAwardInformationV2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ COPYRIGHT (c) 2018 VOCADO, LLC.  ALL RIGHTS RESERVED.  THIS SOFTWARE CONTAINS
  ~ TRADE SECRETS AND/OR CONFIDENTIAL INFORMATION PROPRIETARY TO VOCADO, LLC AND/OR
  ~ ITS LICENSORS. ACCESS TO AND USE OF THIS INFORMATION IS STRICTLY LIMITED AND
  ~ CONTROLLED BY VOCADO, LLC.  THIS SOFTWARE MAY NOT BE COPIED, MODIFIED, DISTRIBUTED,
  ~ DISPLAYED, DISCLOSED OR USED IN ANY WAY NOT EXPRESSLY AUTHORIZED BY VOCADO, LLC IN WRITING.
  -->
<xs:schema xmlns="http://www.vocado.com/vm/fas"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.vocado.com/vm/common"
           xmlns:fas="http://www.vocado.com/vm/fas"
           targetNamespace="http://www.vocado.com/vm/fas"
           elementFormDefault="qualified">

    <xs:include schemaLocation="common/FasCommon.xsd"/>
    <xs:import namespace="http://www.vocado.com/vm/common" schemaLocation="common/VocadoCommon.xsd"/>
    <xs:include schemaLocation="common/FasStudentAcademicsCommon.xsd"/>
    <xs:include schemaLocation="common/FasAwardingCommon.xsd"/>

    <xs:annotation>
        <xs:documentation>
            These messages pertain to TERM student awards:
            FasStudentAwardInformationEvent: Award information, generated by internal events such as repackaging.
            FasStudentAwardInformationReply: Award information, generated by a customer request.
            FasStudentAwardInformationRequest: The customer request.
            FasStudentAwardInformationEvent and FasStudentAwardInformationReply contain the same data. The only
            difference between the two messages lies in what triggers them.
        </xs:documentation>
    </xs:annotation>

    <xs:element name="FasStudentAwardInformationV2Event">
        <xs:annotation>
            <xs:documentation>
                This message describes a student's award status for a given academic year.
                The system generates this message in response to an event.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <!-- Note: this forces XJC to generate a class with the name of the top-level element -->
                <xs:extension base="FasStudentAwardInformationV2Type"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="FasStudentAwardInformationV2Request">
        <xs:annotation>
            <xs:documentation>
                A customer sends this message to request a student's award status for a given academic year.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="vc:EnvelopeType">
                    <xs:sequence>
                        <xs:element name="ExternalStudentId" type="vc:ExternalIdentifierType"/>
                        <xs:element name="EnrollmentId" minOccurs="0" type="vc:ExternalIdentifierType"/>
                        <xs:element name="ProgramCode" minOccurs="0" type="ProgramCodeType"/>
                        <xs:element name="AcademicYear" minOccurs="0" type="vc:PositiveIntType"/>
                        <xs:element name="AwardVersionNumber" minOccurs="0" type="vc:PositiveIntType"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="FasStudentAwardInformationV2Reply">
        <xs:annotation>
            <xs:documentation>
                This message describes a student's award status for a given academic year.
                The system sends it in response to a FasStudentAwardInformationRequest message.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <!-- Note: this forces XJC to generate a class with the name of the top-level element -->
                <xs:extension base="FasStudentAwardInformationV2Type"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="FasStudentAwardInformationV2Type">
        <xs:complexContent>
            <xs:extension base="vc:EnvelopeType">
                <xs:sequence>
                    <xs:element name="Student">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ExternalStudentId" type="vc:ExternalIdentifierType"/>
                                <xs:element name="EnrollmentId" minOccurs="0" type="vc:ExternalIdentifierType"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Award">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="AwardVersionNumber" type="vc:PositiveIntType"/>
                                <xs:element name="AwardCreationDateTime" type="xs:dateTime"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="FinancialPlan">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="PackagingVersionNumber" type="vc:PositiveIntType"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Program">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ProgramCode" type="ProgramCodeType"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Process">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="AwardingProcessInformation"/>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="AcademicYear">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="AcademicYearNumber" type="vc:PositiveIntType"/>
                                <xs:element name="StartDate" type="xs:date"/>
                                <xs:element name="PeriodOfEnrollmentStartDate" type="xs:date" minOccurs="0"/>
                                <xs:element name="EndDate" type="xs:date"/>
                                <xs:element name="PeriodOfEnrollmentEndDate" type="xs:date" minOccurs="0"/>
                                <xs:element name="TitleIVGrants">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="TitleIVGrant" minOccurs="0" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:complexContent>
                                                        <xs:extension
                                                                base="FasStudentAwardInformationTitleIVFundCommonFieldsType">
                                                            <xs:sequence>
                                                                <xs:element name="PaymentPeriods">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="PaymentPeriod"
                                                                                        maxOccurs="unbounded">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element
                                                                                                name="PaymentPeriodNumber"
                                                                                                type="PaymentPeriodNumberType"/>
                                                                                        <xs:element
                                                                                                name="GrantPaymentPeriodNumber"
                                                                                                type="PaymentPeriodNumberType"
                                                                                                minOccurs="0"/>
                                                                                        <xs:element name="AwardYear"
                                                                                                    type="AwardYearType"/>
                                                                                        <xs:element name="AwardAmount"
                                                                                                    type="vc:NonNegativeMoneyType"/>
                                                                                        <xs:element
                                                                                                name="FundAcceptanceDueDate"
                                                                                                type="xs:date"
                                                                                                minOccurs="0"/>
                                                                                        <xs:element
                                                                                                name="FundAcceptedDate"
                                                                                                type="xs:date"
                                                                                                minOccurs="0"/>
                                                                                        <xs:element
                                                                                                name="FundAcceptedAmount"
                                                                                                type="vc:NonNegativeIntType"
                                                                                                minOccurs="0"/>
                                                                                        <xs:element
                                                                                                name="FundAcceptanceStatus"
                                                                                                type="FundAcceptanceStatusEnum"
                                                                                                minOccurs="0"/>
                                                                                        <xs:element
                                                                                                name="FundLimitedByPreviousAcceptanceIndicator"
                                                                                                type="xs:boolean"
                                                                                                minOccurs="0"/>
                                                                                        <xs:element
                                                                                                name="EligibilityCriteria"
                                                                                                type="FasStudentAwardInfoGrantEligibilityCriteriaType"
                                                                                                minOccurs="0"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:extension>
                                                    </xs:complexContent>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="TitleIVDirectLoans">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="TitleIVDirectLoan" minOccurs="0" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:complexContent>
                                                        <xs:extension
                                                                base="FasStudentAwardInformationTitleIVDirectLoanFundFieldsType">
                                                            <xs:sequence>
                                                                <xs:element name="PaymentPeriods">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="PaymentPeriod"
                                                                                        maxOccurs="unbounded">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element
                                                                                                name="LoanPeriodNumber"
                                                                                                type="LoanPaymentPeriodNumberType"
                                                                                        />
                                                                                        <xs:element
                                                                                                name="LoanPaymentPeriodNumber"
                                                                                                type="LoanPaymentPeriodNumberType"/>
                                                                                        <xs:element
                                                                                                name="AwardYear"
                                                                                                type="AwardYearType"/>
                                                                                        <xs:element name="AwardAmount"
                                                                                                    type="vc:NonNegativeMoneyType"/>
                                                                                        <xs:element
                                                                                                name="DisbursementFeeAmount"
                                                                                                type="vc:NonNegativeIntType"
                                                                                                minOccurs="0"/>
                                                                                        <xs:element
                                                                                                name="InterestRebateAmount"
                                                                                                type="vc:NonNegativeIntType"
                                                                                                minOccurs="0"/>
                                                                                        <xs:element
                                                                                                name="NetDisbursementAmount"
                                                                                                type="vc:NonNegativeIntType"/>
                                                                                        <xs:element
                                                                                                name="FundAcceptanceDueDate"
                                                                                                type="xs:date"
                                                                                                minOccurs="0"/>
                                                                                        <xs:element
                                                                                                name="FundAcceptedDate"
                                                                                                type="xs:date"
                                                                                                minOccurs="0"/>
                                                                                        <xs:element
                                                                                                name="FundAcceptedAmount"
                                                                                                type="vc:NonNegativeIntType"
                                                                                                minOccurs="0"/>
                                                                                        <xs:element
                                                                                                name="FundAcceptanceStatus"
                                                                                                type="FundAcceptanceStatusEnum"
                                                                                                minOccurs="0"/>
                                                                                        <xs:element
                                                                                                name="FundLimitedByPreviousAcceptanceIndicator"
                                                                                                type="xs:boolean"
                                                                                                minOccurs="0"/>
                                                                                        <xs:element
                                                                                                name="EligibilityCriteria"
                                                                                                type="FasStudentAwardInfoDloanEligibilityCriteriaType"
                                                                                                minOccurs="0"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:extension>
                                                    </xs:complexContent>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="Nfrs">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Nfr" minOccurs="0" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:complexContent>
                                                        <xs:extension
                                                                base="FasStudentAwardInformationNfrFundCommonFieldsType">
                                                            <xs:sequence>
                                                                <xs:element name="NfrPeriods">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="NfrPeriod"
                                                                                        maxOccurs="unbounded">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element
                                                                                                name="NfrPeriodNumber"
                                                                                                type="vc:NonNegativeIntType"/>
                                                                                        <xs:element
                                                                                                name="AwardYear"
                                                                                                type="AwardYearType"
                                                                                                minOccurs="0"/>
                                                                                        <xs:element name="AwardAmount"
                                                                                                    type="vc:NonNegativeMoneyType"/>
                                                                                        <xs:element
                                                                                                name="FundAcceptanceRequiredIndicator"
                                                                                                type="xs:boolean"/>
                                                                                        <xs:element
                                                                                                name="FundAcceptanceStatus"
                                                                                                type="FundAcceptanceStatusEnum"
                                                                                                minOccurs="0"/>
                                                                                        <xs:element
                                                                                                name="FundLimitedByPreviousAcceptanceIndicator"
                                                                                                type="xs:boolean"
                                                                                                minOccurs="0"/>
                                                                                        <xs:element
                                                                                                name="FundAcceptanceDueDate"
                                                                                                type="xs:date"
                                                                                                minOccurs="0"/>
                                                                                        <xs:element
                                                                                                name="FundAcceptedDate"
                                                                                                type="xs:date"
                                                                                                minOccurs="0"/>
                                                                                        <xs:element
                                                                                                name="FundAcceptedAmount"
                                                                                                type="vc:NonNegativeDoubleType"
                                                                                                minOccurs="0"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                    <!-- If there is no AwardYear, NfrPeriodNumber must be unique. -->
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:extension>
                                                    </xs:complexContent>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
