sfp-xsd-22.1.0.0/xsd/FasValidIsirProcessStatusInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

COPYRIGHT (C) 2013 VOCADO, LLC.  ALL RIGHTS RESERVED.  THIS SOFTWARE CONTAINS
TRADE SECRETS AND/OR CONFIDENTIAL INFORMATION PROPRIETARY TO VOCADO, LLC
AND/OR ITS LICENSORS. ACCESS TO AND USE OF THIS INFORMATION IS STRICTLY
LIMITED AND CONTROLLED BY VOCADO, LLC.  THIS SOFTWARE MAY NOT BE COPIED,
MODIFIED, DISTRIBUTED, DISPLAYED, DISCLOSED OR USED IN ANY WAY NOT EXPRESSLY
AUTHORIZED BY VOCADO, LLC IN WRITING.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.vocado.com/vm/common"
           xmlns="http://www.vocado.com/vm/fas"
           targetNamespace="http://www.vocado.com/vm/fas"
           elementFormDefault="qualified">

    <xs:include schemaLocation="common/FasCommon.xsd"/>
    <xs:include schemaLocation="common/FasStudentAcademicsCommon.xsd"/>
    <xs:import namespace="http://www.vocado.com/vm/common" schemaLocation="common/VocadoCommon.xsd"/>

    <xs:element name="FasValidIsirProcessStatusInformationEvent">
        <xs:annotation>
            <xs:documentation>
                This message should be used to notify students of actions they must take to receive
                financial aid and provide them with informative messages as to their financial aid status.
                The system generates this message in response to an event.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <!-- Note: this forces XJC to generate a class with the name of the top-level element -->
                <xs:extension base="FasValidIsirProcessStatusInformationEventType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="FasValidIsirProcessStatusInformationRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="vc:EnvelopeType">
                    <xs:sequence>
                        <xs:element name="ExternalStudentId" type="vc:ExternalIdentifierType"/>
                        <xs:element name="ProcessInstanceId" type="xs:long" minOccurs="0"/>
                        <xs:element name="ProcessStatus" type="ProcessStatusEnum" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="FasValidIsirProcessStatusInformationReply">
        <xs:annotation>
            <xs:documentation>
                This message should be used to notify students of actions they must take to receive
                financial aid and provide them with informative messages as to their financial aid status.
                The system sends it in response to a FasValidIsirProcessStatusInformationRequest message.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <!-- Note: this forces XJC to generate a class with the name of the top-level element -->
                <xs:extension base="FasValidIsirProcessStatusInformationEventType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Helper definitions -->

    <xs:complexType name="FasValidIsirProcessStatusInformationEventType">
        <xs:complexContent>
            <xs:extension base="vc:EnvelopeType">
                <xs:sequence>
                    <xs:element name="Student">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ExternalStudentId" type="vc:ExternalIdentifierType"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Processes">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Process"
                                            type="FasValidIsirProcessStatusInformation_Process"
                                            maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FasValidIsirProcessStatusInformation_OneOf">
        <xs:sequence>
            <xs:element name="Document"
                        type="FasValidIsirProcessStatusInformation_Document"
                        minOccurs="0"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FasValidIsirProcessStatusInformation_Document">
        <xs:sequence>
            <xs:element name="DocumentCode" type="vc:NonBlankStringType"/>
            <xs:element name="DocumentName" type="vc:NonBlankStringType"/>
            <xs:element name="DocumentRequestDate" type="xs:date" minOccurs="0"/>
            <xs:element name="DocumentStatus" type="DocumentStatusEnum"/>
            <xs:element name="DocumentStatusDate" type="xs:date" minOccurs="0"/>
            <xs:element name="DocumentReceiptDate" type="xs:date" minOccurs="0"/>
            <xs:element name="AwardYear" type="AwardYearType" minOccurs="0"/>
            <xs:element name="ExternalDocumentId" type="vc:ExternalIdentifierType" minOccurs="0"/>
            <xs:element name="DocumentRationale" type="DocumentRationaleEnum" minOccurs="0"/>
            <xs:element name="DaysSinceOriginalDocumentRequest" type="vc:NonNegativeIntType" minOccurs="0"/>
            <xs:element name="DocumentRequestMessage" type="vc:NonBlankStringType" minOccurs="0"/>
            <xs:element name="DocumentOwners" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="DocumentOwner"
                                    type="DocumentOwnerTypeEnum" minOccurs="1"
                                    maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SupportingDocuments" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="OneOf" type="FasValidIsirProcessStatusInformation_OneOf" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="Document" type="FasValidIsirProcessStatusInformation_Document" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RequiredDocumentsType">
        <xs:sequence>
            <xs:element name="Document" type="FasValidIsirProcessStatusInformation_Document" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="OneOf" type="FasValidIsirProcessStatusInformation_OneOf" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="IsirDiscrepancyType">
        <xs:sequence>
            <xs:element name="IsirDiscrepancyDescription" type="xs:string"/>
            <xs:element name="IsirDiscrepancyName" minOccurs="0" type="xs:string"/>
            <xs:element name="IsirDiscrepancyStatus" type="IsirDiscrepancyStatusEnum"/>
            <xs:element name="IsirDiscrepancyStatusDate" type="xs:date"/>
            <xs:element name="IsirDiscrepancyMessaging" type="xs:string" minOccurs="0"/>
            <xs:element name="RequiredDocuments" minOccurs="0" type="RequiredDocumentsType" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="IsirDiscrepancyStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Processing"/>
            <xs:enumeration value="Student Follow Up"/>
            <xs:enumeration value="Auto Correction/Resolved"/>
            <xs:enumeration value="Manually Resolved/Corrected"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="FasValidIsirProcessStatusInformation_Process">
        <xs:sequence>
            <xs:element name="InstanceId" type="xs:long"/>
            <xs:element name="Status" type="ProcessStatusEnum"/>
            <xs:element name="Name" type="ProcessNameEnum"/>
            <xs:element name="OpenDate" type="xs:date"/>
            <xs:element name="CloseDate" type="xs:date" minOccurs="0"/>
            <xs:element name="Messaging" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ProcessMessaging" type="xs:string" minOccurs="0"/>
                        <xs:element name="ValidIsirMessaging" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IsirInformation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="AwardYear" type="AwardYearType"/>
                        <xs:element name="IsirTransactionNumber"
                                    type="CpsTransactionNumberType"/>
                        <xs:element name="IsirStatus" type="IsirStatusEnum"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IsirCodes" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="IsirCode" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="IsirCodeType" type="IsirCodeTypeEnum"/>
                                    <xs:element name="IsirCodeNumber" type="xs:string"/>
                                    <xs:element name="IsirCodeDescription" type="xs:string"/>
                                    <xs:element name="IsirCodeStatus" type="IsirCodeStatusEnum"/>
                                    <xs:element name="IsirCodeStatusDate" type="xs:date"/>
                                    <xs:element name="StudentFollowUp" type="xs:boolean"/>
                                    <xs:element name="IsirCodeMessage" type="xs:string" minOccurs="0"/>
                                    <xs:element name="IsirFields" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="IsirField"
                                                            type="IsirFieldType"
                                                            minOccurs="0"
                                                            maxOccurs="unbounded"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="RequiredDocuments" minOccurs="0" type="RequiredDocumentsType" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IsirDiscrepancies" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="IsirDiscrepancy"
                                    type="IsirDiscrepancyType"
                                    minOccurs="0"
                                    maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
