sfp-xsd-22.1.0.0/xsd/common/CommonFasFinancialPlanOutbound.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

COPYRIGHT (C) 2013 VOCADO, LLC.  ALL RIGHTS RESERVED.  THIS SOFTWARE CONTAINS
TRADE SECRETS AND/OR CONFIDENTIAL INFORMATION PROPRIETARY TO VOCADO, LLC
AND/OR ITS LICENSORS. ACCESS TO AND USE OF THIS INFORMATION IS STRICTLY
LIMITED AND CONTROLLED BY VOCADO, LLC.  THIS SOFTWARE MAY NOT BE COPIED,
MODIFIED, DISTRIBUTED, DISPLAYED, DISCLOSED OR USED IN ANY WAY NOT EXPRESSLY
AUTHORIZED BY VOCADO, LLC IN WRITING.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.vocado.com/vm/common"
           xmlns:fas="http://www.vocado.com/vm/fas"
           xmlns="http://www.vocado.com/vm/fas"
           targetNamespace="http://www.vocado.com/vm/fas"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <xs:include schemaLocation="FasCommon.xsd"/>
    <xs:include schemaLocation="FasStudentAcademicsCommon.xsd"/>
    <xs:import namespace="http://www.vocado.com/vm/common" schemaLocation="VocadoCommon.xsd"/>

    <xs:complexType name="FpoRepackagingTriggerType">
        <xs:sequence>
            <xs:element name="TriggerType" type="fas:FpoTriggerTypeEnum">
                <xs:annotation>
                    <xs:documentation>Source of the trigger
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TriggerCode" type="fas:FpoTriggerCodeEnum">
                <xs:annotation>
                    <xs:documentation>Code that identifies the specific trigger type
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TriggerDescription" type="vc:NonBlankStringType">
                <xs:annotation>
                    <xs:documentation>Repackaging reason
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MessageId" type="vc:UuidType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Unique identifier of the related inbound
                        message that triggered this particular FPO
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MessageClass" type="vc:NonBlankStringType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Unique message class name of the related
                        inbound message that triggered this particular FPO
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreationDate" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Creation date of the related inbound
                        message that triggered this particular FPO
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CpsTransactionNumber" type="fas:CpsTransactionNumberType"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>ISIR CPS transaction number if Trigger Type == USDE Message
                        and
                        Trigger Code is one of (ISIR_VALID_OR_UNVERIFIED, ISIR_PAST_DEADLINE)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AcademicYearNumber" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Academic year if Trigger Type = Internal Trigger and Trigger
                        Code is SAP_STATUS_UPDATED
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PaymentPeriodNumber" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Payment period if Trigger Type = Internal Trigger and Trigger
                        Code is SAP_STATUS_UPDATED
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ExternalDocumentId" type="vc:ExternalIdentifierType"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Document ID if Trigger Type == USDE Message and Trigger Code
                        is one of (PLUS_APPL_MSG_RECEIVED, CREDIT_DEC_OVERRIDE_MSG_RECEIVED,
                        TEACH_GRANT_COUNSEL_ACK_MSG_RECEIVED, ATS_NOTE_ACK_MSG_RECEIVED)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReceivedDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>NSLDS received date if Trigger Type == USDE Message and
                        Trigger Code == NSLDS_FAH_MSG_RECEIVED
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FundCode" type="vc:NonBlankStringType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Fund code for Repackaging Trigger
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FundExtension" type="vc:NonBlankStringType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Fund code extension for Repackaging Trigger
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FpoAwardYearsType">
        <xs:sequence>
            <xs:element name="AwardYear" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="AwardYearIdentifier" type="AwardYearType">
                            <xs:annotation>
                                <xs:documentation>
                                    Award Year. This is used for display purposes
                                    ONLY. It
                                    will not necessarily
                                    correspond to the award year in which the term or payment
                                    period falls.
                                    And will not necessarily
                                    correspond to the disbursement date
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Isir" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="CpsTransactionNumber"
                                                type="fas:CpsTransactionNumberType"/>
                                    <xs:element name="IsirStatus" type="FpoIsirStatusEnum"/>
                                    <xs:element name="ReceivedDate" type="xs:date"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Efc" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="EfcAmount">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:int">
                                                <xs:minInclusive value="0"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="Status" type="AccountingStatusEnum"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:simpleType name="FpoTriggerTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="USDE Update"/>
            <xs:enumeration value="Inbound Message"/>
            <xs:enumeration value="Internal Trigger"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FpoTriggerCodeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SAFI_RECEIVED">
                <xs:annotation>
                    <xs:documentation>Student Academic and Financial Information Message was received</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ISIR_VALID_OR_UNVERIFIED">
                <!-- DEPRECATED: use only ISIR_STATUS_UPDATED for new code, this is retained temporarily only to avoid
                 deserialization issues with in-flight POJOs -->
                <xs:annotation>
                    <xs:documentation>ISIR became Valid or Unverified</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ISIR_PAST_DEADLINE">
                <xs:annotation>
                    <xs:documentation>Subsequent ISIR was not validated prior to Valid ISIR Deadline being reached
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SDI_RECEIVED">
                <xs:annotation>
                    <xs:documentation>Student Demographic Message was received</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CANCELED_DISB_REEVAL">
                <xs:annotation>
                    <xs:documentation>Previously Canceled Disbursements need to be re-evaluated</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FUND_ACCEPT_RECEIVED">
                <xs:annotation>
                    <xs:documentation>Fund Acceptance Message was received</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FUND_ACCEPT_EXPIRED">
                <xs:annotation>
                    <xs:documentation>Fund Acceptance was not received by due date</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LATE_DISB_CRIT_NOT_MET">
                <xs:annotation>
                    <xs:documentation>Late Disbursement Criteria not met</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LATE_DISB_ACCEPT_RECEIVED">
                <xs:annotation>
                    <xs:documentation>Late Disbursement Acceptance was received</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LATE_DISB_ACCEPT_EXPIRED">
                <xs:annotation>
                    <xs:documentation>Late Disbursement Acceptance was not received by due date</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="POST_WITHDRAW_DISB_CRIT_NOT_MET">
                <xs:annotation>
                    <xs:documentation>Post-Withdraw Disbursement Criteria not met</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="POST_WITHDRAW_DISB_ACCEPT_RECEIVED">
                <xs:annotation>
                    <xs:documentation>Post-Withdraw Disbursement Acceptance was received</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="POST_WITHDRAW_DISB_ACCEPT_EXPIRED">
                <xs:annotation>
                    <xs:documentation>Post-Withdraw Disbursement Acceptance was not received by due date
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SAP_STATUS_UPDATED">
                <xs:annotation>
                    <xs:documentation>SAP Status was updated</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LOA_BREAK_MSG_RECEIVED">
                <xs:annotation>
                    <xs:documentation>LOA/Breaks Message was received</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PLUS_APPL_MSG_RECEIVED">
                <xs:annotation>
                    <xs:documentation>PLUS Loan Application Message was received</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CREDIT_DEC_OVERRIDE_MSG_RECEIVED">
                <xs:annotation>
                    <xs:documentation>Credit Decision Override Message was received</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TEACH_GRANT_COUNSEL_ACK_MSG_RECEIVED">
                <xs:annotation>
                    <xs:documentation>TEACH Grant Counseling Acknowledgement Message was received</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ATS_NOTE_ACK_MSG_RECEIVED">
                <xs:annotation>
                    <xs:documentation>ATS Note Acknowledgement Message was received</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DISB_CRIT_NOT_MET_BY_DUE_DATE">
                <xs:annotation>
                    <xs:documentation>Disbursement Criteria not met by due date</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AWARD_YR_CLOSED_AND_PEND_DISB_EXISTS">
                <xs:annotation>
                    <xs:documentation>Award Year is closed and pending disbursement exists</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FUND_AWARDED">
                <xs:annotation>
                    <xs:documentation>At least one awarding criteria changed for a fund</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NFR_ADDED_MODIFIED">
                <xs:annotation>
                    <xs:documentation>NFR Fund was added or modified</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NFR_RE_EVALUATED">
                <xs:annotation>
                    <xs:documentation>NFR Fund needed to be re-evaluated</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NSLDS_FAH_MSG_RECEIVED">
                <xs:annotation>
                    <xs:documentation>NSLDS/FAH Message was received</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CREDIT_BAL_RETURNED_TO_LENDER">
                <xs:annotation>
                    <xs:documentation>Credit balance is being returned to lender</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RET_TO_TITLE_IV_COMPLETED">
                <xs:annotation>
                    <xs:documentation>Return to Title IV was completed</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PACK_MANUAL_OVERRIDE">
                <xs:annotation>
                    <xs:documentation>Package details were manually overridden</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STUD_RECORD_MANUAL_OVERRIDE">
                <xs:annotation>
                    <xs:documentation>Student record details were manually overridden</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REENTER_WITHIN_180_DAYS">
                <xs:annotation>
                    <xs:documentation>Student re-entered within 180 days</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REENTER_AFTER_180_DAYS">
                <xs:annotation>
                    <xs:documentation>Student re-entered after 180 days</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACY_PP_CREDITS_AND_WEEKS_MET">
                <xs:annotation>
                    <xs:documentation>Student's Academic Year / Payment Period Credits and Instructional Weeks have been
                        met
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OVERLAPPING_ACADEMIC_YEARS_EXTERNAL_TRANSFER">
                <xs:annotation>
                    <xs:documentation>Overlapping Loans for External Transfers Evaluated</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STUDENT_CHANGED_PROGRAMS">
                <xs:annotation>
                    <xs:documentation>Student Changed Programs</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ISIR_STATUS_UPDATED">
                <!-- TODO (JD 2015-01-02) this replaces ISIR_VALID_OR_UNVERIFIED,
                remove ISIR_VALID_OR_UNVERIFIED when can be sure there are no previously serialized POJOs left that have the old enum name,
                 otherwise could get deserialization errors -->
                <xs:annotation>
                    <xs:documentation>ISIR status has been updated</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COA_MANUAL_OVERRIDE">
                <xs:annotation>
                    <xs:documentation>COA details were manually overridden</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STUDENT_HOLD_RELEASED">
                <xs:annotation>
                    <xs:documentation>Student Record Hold was released</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CREDIT_STAT_RESPONSE_MSG_RECEIVED">
                <xs:annotation>
                    <xs:documentation>Credit Status Response Message was received</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AT_WILL_REPACKAGE">
                <xs:annotation>
                    <xs:documentation>At will repackage</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SEQUESTER_REDUCTION_REQUIRED">
                <xs:annotation>
                    <xs:documentation>Sequester Reduction was required</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COA_ADJUSTMENT">
                <xs:annotation>
                    <xs:documentation>An adjustment was made to the student's COA</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FUND_ALLOCATION">
                <xs:annotation>
                    <xs:documentation>Fund allocation has been reached and amount needs to be adjusted
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACADEMIC_YEAR_INFO_OVERRIDDEN">
                <xs:annotation>
                    <xs:documentation>Academic year info was overridden</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BORROWER_DEFAULT_OVERPAY_CODE_OVERRIDDEN">
                <xs:annotation>
                    <xs:documentation>Borrower Default Overpay Code was overridden</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AWARDING_CLOSED_AND_FUNDS_NOT_AWARDED">
                <xs:annotation>
                    <xs:documentation>Awarding closed and funds not awarded</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FUND_ACCEPT_UPDATED_AT_WILL">
                <xs:annotation>
                    <xs:documentation>Fund Acceptance data manually updated</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SUMMER_TERM_OVERRIDDEN">
                <xs:annotation>
                    <xs:documentation>User has overridden the student's summer term</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STUDENT_GROUP_REPACKAGING_TRIGGER">
                <xs:annotation>
                    <xs:documentation>Student groups updated</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COMMONLINE_APP_RESPONSE_REPACKAGING_TRIGGER">
                <xs:annotation>
                    <xs:documentation>Common Line Loan response matched to a student</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FpoIsirStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Inactive"/>
            <xs:enumeration value="Pending"/>
            <xs:enumeration value="Unverified"/>
            <xs:enumeration value="Invalid"/>
            <xs:enumeration value="Corrected"/>
            <xs:enumeration value="Valid"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FpoFundAcceptanceStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Fund Not Accepted"/>
            <xs:enumeration value="Fund Not Accepted by Due Date"/>
            <xs:enumeration value="Pending Acceptance"/>
            <xs:enumeration value="Accepted"/>
            <xs:enumeration value="Fund Limited by Previous Acceptance"/>
            <xs:enumeration value="Pending Additional Acceptance"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FpoFundStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Projected"/>
            <xs:enumeration value="Estimated"/>
            <xs:enumeration value="Awarded"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FpoPackagingStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Estimated"/>
            <xs:enumeration value="Partially Awarded"/>
            <xs:enumeration value="Awarded"/>
            <xs:enumeration value="Pending Repackage"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FpoPaymentPeriodSapStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RG - Regular"/>
            <xs:enumeration value="FW - Financial Aid Warning"/>
            <xs:enumeration value="FD - Financial Aid Disqualification"/>
            <xs:enumeration value="FP - Financial Aid Probation"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FpoAcademicYearTypePackagingLimitEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Total COA"/>
            <xs:enumeration value="Actual COA"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FpoPeriodSchedulingStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Projected"/>
            <xs:enumeration value="Actual"/>
            <xs:enumeration value="Canceled"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="FpoCoaItemType">
        <xs:sequence>
            <xs:element name="CoaItemName" type="vc:NonBlankStringType"/>
            <xs:element name="CoaItemAmount" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FpoCoaComponentType">
        <xs:sequence>
            <xs:element name="Name" type="vc:NonBlankStringType"/>
            <xs:element name="CoaItems" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CoaItem" type="FpoCoaItemType" minOccurs="0"
                                    maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FpoLoanPaymentPeriodType">
        <xs:sequence>
            <xs:element name="LoanPaymentPeriodNumber" type="fas:LoanPaymentPeriodNumberType"/>
            <xs:element name="StartDate" type="xs:date"/>
            <xs:element name="EndDate" type="xs:date"/>
            <xs:element name="PaymentPeriodStatus" type="fas:FpoPeriodSchedulingStatusEnum">
                <xs:annotation>
                    <xs:documentation>
                        Status of the Loan Payment Period
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PaymentPeriodFundStatus" type="fas:FpoFundStatusEnum"/>
            <xs:element name="AwardAmount" type="vc:MoneyType" minOccurs="0"/>
            <xs:element name="FundAcceptanceStatus" type="fas:FpoFundAcceptanceStatusEnum" minOccurs="0"/>
            <xs:element name="TotalDisbursementAmount" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FpoGrantPaymentPeriodType">
        <xs:sequence>
            <xs:element name="Number" type="fas:PaymentPeriodNumberType"/>
            <xs:element name="StartDate" type="xs:date"/>
            <xs:element name="EndDate" type="xs:date"/>
            <xs:element name="PaymentPeriodStatus" type="FpoPeriodSchedulingStatusEnum"/>
            <xs:element name="PaymentPeriodAwardYear" type="fas:AwardYearType"/>
            <xs:element name="PaymentPeriodFundStatus" type="fas:FpoFundStatusEnum"/>
            <xs:element name="AwardAmount" type="vc:MoneyType" minOccurs="0"/>
            <xs:element name="FundAcceptanceStatus" minOccurs="0" type="fas:FpoFundAcceptanceStatusEnum"/>
            <xs:element name="TotalDisbursementAmount" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FpoCourseType">
        <xs:complexContent>
            <xs:extension base="FasBaseCourseType">
                <xs:sequence>
                    <xs:element name="Charges" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Charge" type="FasBaseChargeType" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FpoNfrPeriodType">
        <xs:sequence>
            <xs:element name="NfrPeriodNumber">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="StartDate" type="xs:date"/>
            <xs:element name="EndDate" type="xs:date"/>
            <xs:element name="AwardYear" type="AwardYearType" minOccurs="0"/>
            <xs:element name="FundStatus" type="FpoFundStatusEnum"/>
            <xs:element name="FundMaxAmount">
                <xs:simpleType>
                    <xs:restriction base="xs:double">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="AwardAmount" type="vc:MoneyType" minOccurs="0"/>
            <xs:element name="FundAcceptanceStatus" type="fas:FpoFundAcceptanceStatusEnum" minOccurs="0"/>
            <xs:element name="FundAcceptedAmount" minOccurs="0" type="xs:double"/>
            <xs:element name="DisbursementHoldIndicator" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FpoStudentResourceType">
        <xs:complexContent>
            <xs:extension base="fas:FasBaseStudentResourceType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FpoFundStudentResourceType">
        <xs:complexContent>
            <xs:extension base="fas:FpoStudentResourceType">
                <xs:sequence>
                    <xs:element name="FundStatus" type="FpoFundStatusEnum"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FpoBaseFundType" abstract="true">
        <xs:sequence>
            <xs:element name="FundCode" type="vc:NonBlankStringType"/>
            <xs:element name="FundExtension" type="vc:NonBlankStringType" minOccurs="0"/>
            <xs:element name="ApplicationId" type="vc:PositiveIntType" minOccurs="0"/>
            <xs:element name="FundName" type="vc:NonBlankStringType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FpoUnspecifiedProgramType">
        <xs:sequence>
            <xs:element name="Courses">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Course" type="fas:FpoCourseType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FpoNfrType">
        <xs:complexContent>
            <xs:extension base="FpoBaseFundType">
                <xs:sequence>
                    <xs:element name="NfrPeriods">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="NfrPeriod" type="FpoNfrPeriodType" minOccurs="1"
                                            maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="FpoAcademicYearEnrollmentStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Full Time"/>
            <xs:enumeration value="Three Quarter Time"/>
            <xs:enumeration value="Half Time"/>
            <xs:enumeration value="Less than Half Time"/>
            <xs:enumeration value="Not Attending"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="FpoBaseTitleIVFundType" abstract="true">
        <xs:complexContent>
            <xs:extension base="FpoBaseFundType">
                <xs:sequence>
                    <xs:element name="FundMaxAmount">
                        <xs:simpleType>
                            <xs:restriction base="xs:int">
                                <xs:minInclusive value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="FundAwardAmount" type="xs:int" minOccurs="0"/>
                    <xs:element name="FundAcceptedAmount" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:int">
                                <xs:minInclusive value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FpoStudentType">
        <xs:sequence>
            <xs:element name="ExternalStudentId" type="vc:ExternalIdentifierType">
                <xs:annotation>
                    <xs:documentation>The external student ID from the system of record. Should
                        not be updated once established by the SIS. Eg 12312
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EnrollmentId" type="vc:NonBlankStringType">
                <xs:annotation>
                    <xs:documentation>
                        Enrollment ID
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FpoStudentResourcesType">
        <xs:sequence>
            <xs:element name="StudentResource" type="fas:FpoStudentResourceType"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FpoChargesType">
        <xs:sequence>
            <xs:element name="Charge" type="fas:FasBaseChargeType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FpoClientMessagesType">
        <xs:sequence>
            <xs:element name="ClientMessage" type="fas:ClientMessageType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FpoNsldsType">
        <xs:sequence>
            <xs:element name="ReceivedDate" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>