sfp-xsd-22.1.0.0/xsd/common/FasCommon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

COPYRIGHT (C) 2013 VOCADO, LLC.  ALL RIGHTS RESERVED.  THIS SOFTWARE CONTAINS
TRADE SECRETS AND/OR CONFIDENTIAL INFORMATION PROPRIETARY TO VOCADO, LLC
AND/OR ITS LICENSORS. ACCESS TO AND USE OF THIS INFORMATION IS STRICTLY
LIMITED AND CONTROLLED BY VOCADO, LLC.  THIS SOFTWARE MAY NOT BE COPIED,
MODIFIED, DISTRIBUTED, DISPLAYED, DISCLOSED OR USED IN ANY WAY NOT EXPRESSLY
AUTHORIZED BY VOCADO, LLC IN WRITING.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.vocado.com/vm/fas"
           xmlns:vc="http://www.vocado.com/vm/common"
           targetNamespace="http://www.vocado.com/vm/fas"
           elementFormDefault="qualified">

    <xs:import namespace="http://www.vocado.com/vm/common" schemaLocation="VocadoCommon.xsd"/>

    <xs:simpleType name="SsnType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EmailAddressType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[^@]+@[^\.]+\..+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AwardYearType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}-[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="AddressType" type="AddressTypeEnum"/>
            <xs:element name="AddressLine1" type="vc:NonBlankStringType"/>
            <xs:element name="AddressLine2" type="xs:string" minOccurs="0"/>
            <xs:element name="City" type="vc:NonBlankStringType"/>
            <xs:element name="State" type="vc:NonBlankStringType"/>
            <xs:element name="PostalCode" type="PostalCodeType"/>
            <xs:element name="Country" type="CountryCodeEnum"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="AddressTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Permanent Mailing"/>
            <xs:enumeration value="Business"/>
            <xs:enumeration value="Other"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="PhoneType">
        <xs:sequence>
            <xs:element name="PhoneType" type="PhoneTypeEnum"/>
            <xs:element name="PhoneNumber" type="PhoneNumberType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="PhoneTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Permanent"/>
            <xs:enumeration value="Business"/>
            <xs:enumeration value="Mobile"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PhoneNumberType">
        <xs:restriction base="xs:string">
            <xs:minLength value="7"/>
            <xs:maxLength value="17"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="GenderEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Male"/>
            <xs:enumeration value="Female"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PostalCodeType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="17"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ProgramCodeType">
        <xs:restriction base="vc:NonBlankStringType">
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DependencyStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Independent"/>
            <xs:enumeration value="Dependent"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DocumentStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Requested"/>
            <xs:enumeration value="Received"/>
            <xs:enumeration value="Acceptable"/>
            <xs:enumeration value="Unacceptable"/>
            <xs:enumeration value="Inactive"/>
            <xs:enumeration value="Pending Signature"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DocumentOwnerTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Student"/>
            <xs:enumeration value="Mother"/>
            <xs:enumeration value="Father"/>
            <xs:enumeration value="Spouse"/>
            <xs:enumeration value="Parent1"/>
            <xs:enumeration value="Parent2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DocumentTaskStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Unassigned"/>
            <xs:enumeration value="Assigned"/>
            <xs:enumeration value="In Progress"/>
            <xs:enumeration value="Additional Info Requested"/>
            <xs:enumeration value="Flagged for Supervisor Review"/>
            <xs:enumeration value="Completed"/>
            <xs:enumeration value="Cancelled"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="DocumentMetadataField">
        <xs:sequence>
            <xs:element name="FieldCode" type="xs:string"/>
            <xs:element name="FieldName" type="xs:string" minOccurs="0"/>
            <xs:element name="FieldValue" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="DocumentRationaleEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="At Will"/>
            <xs:enumeration value="Financial Aid System Process"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ProcessInformationType">
        <xs:sequence>
            <xs:element name="ProcessInstanceId" type="xs:string"/>
            <xs:element name="ProcessStatus" type="ProcessStatusEnum"/>
            <xs:element name="ProcessName" type="ProcessNameEnum"/>
            <xs:element name="ProcessOpenDate" type="xs:dateTime"/>
            <xs:element name="ProcessCloseDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="AtWillTaskComments" type="xs:string" minOccurs="0"/>
            <xs:element name="Message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FasProcessType">
        <xs:sequence>
            <xs:element name="InstanceId" type="vc:PositiveIntType"/>
            <xs:element name="Status" type="ProcessStatusEnum"/>
            <xs:element name="Name" type="ProcessNameEnum"/>
            <xs:element name="OpenDate" type="xs:date"/>
            <xs:element name="CloseDate" type="xs:date" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>


    <!-- see https://confluence.vocado.net/display/VM/Financial+Aid+System+Statuses#FinancialAidSystemStatuses-ProcessStatuses -->
    <xs:simpleType name="ProcessStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Started"/>
            <xs:enumeration value="Pending"/>
            <xs:enumeration value="Completed"/>
            <xs:enumeration value="Canceled"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- see https://confluence.vocado.net/display/VM/Financial+Aid+System+Statuses#FinancialAidSystemStatuses-ProcessStatuses -->
    <xs:simpleType name="ProcessNameEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Valid ISIR"/>
            <xs:enumeration value="Professional Judgement"/>
            <xs:enumeration value="At Will Document Request"/>
            <xs:enumeration value="SAP"/>
            <xs:enumeration value="SAP Appeals"/>
            <xs:enumeration value="Packaging"/>
            <xs:enumeration value="Awarding"/>
            <xs:enumeration value="Disbursing"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StudentEnrollmentStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AM">
                <xs:annotation>
                    <xs:documentation>Not Started/Admitted</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="F">
                <xs:annotation>
                    <xs:documentation>Full-time</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="H">
                <xs:annotation>
                    <xs:documentation>Half-time or more, but less than full-time</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="L">
                <xs:annotation>
                    <xs:documentation>Less than half-time</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="A">
                <xs:annotation>
                    <xs:documentation>Approved Leave of Absence</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="X">
                <xs:annotation>
                    <xs:documentation>Never Attended</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C">
                <xs:annotation>
                    <xs:documentation>Cancel</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="G">
                <xs:annotation>
                    <xs:documentation>Graduated</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="D">
                <xs:annotation>
                    <xs:documentation>Deceased</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="W">
                <xs:annotation>
                    <xs:documentation>Withdrawn (voluntary or involuntary)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RE">
                <xs:annotation>
                    <xs:documentation>Re-entry Required</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AC">
                <xs:annotation>
                    <xs:documentation>Academic Complete</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StudentEnrollmentStatusSubTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UW - Unofficial Withdrawal"/>
            <xs:enumeration value="OW - Official Withdrawal"/>
            <xs:enumeration value="AW - Administrative Withdrawal"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StudentNotificationStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Open"/>
            <xs:enumeration value="Completed"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="NameValueFieldType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="IsirFieldType">
        <xs:sequence>
            <xs:element name="Number" type="xs:integer"/>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Value" type="xs:string"/>
            <xs:element name="MappedValue" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="AccountingStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Actual"/>
            <xs:enumeration value="Estimated"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ChargeTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Tuition"/>
            <xs:enumeration value="STRF"/>
            <xs:enumeration value="Taxes"/>
            <xs:enumeration value="Misc"/>
            <xs:enumeration value="Resource"/>
            <xs:enumeration value="Tuition"/>
            <xs:enumeration value="Fees"/>
            <xs:enumeration value="Course Book Fees"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CreditBalanceStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Pending"/>
            <xs:enumeration value="Cut to Recipient"/>
            <xs:enumeration value="Check Returned"/>
            <xs:enumeration value="Returned to Lender"/>
            <xs:enumeration value="Applied to Grant Overpayment"/>
            <xs:enumeration value="Cancelled"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RefundStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Pending"/>
            <xs:enumeration value="Posted to Ledger"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SchedulingStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Projected"/>
            <xs:enumeration value="Scheduled"/>
            <xs:enumeration value="Passed"/>
            <xs:enumeration value="Withdrawn"/>
            <xs:enumeration value="Failed"/>
            <xs:enumeration value="Incomplete"/>
            <xs:enumeration value="Enrolled"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ModalityEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Ground"/>
            <xs:enumeration value="Online"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MeasurementUnitEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Credit"/>
            <xs:enumeration value="Clock"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ProgramLengthMeasurementUnitEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Years"/>
            <xs:enumeration value="Months"/>
            <xs:enumeration value="Weeks"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ProgramTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Certificate (Graduate)"/>
            <xs:enumeration value="Certificate (Undergraduate)"/>
            <xs:enumeration value="Associate"/>
            <xs:enumeration value="Bachelors"/>
            <xs:enumeration value="Graduate"/>
            <xs:enumeration value="Doctoral"/>
            <xs:enumeration value="Certificate (Post Baccalaureate)"/>
            <xs:enumeration value="Non-credential"/>
            <xs:enumeration value="Certificate (Doctorate)"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SpecialProgramsTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A">
                <xs:annotation>
                    <xs:documentation>Selective Admission Associate Program</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="B">
                <xs:annotation>
                    <xs:documentation>Bachelor's Degree Completion Program</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="N">
                <xs:annotation>
                    <xs:documentation>Not Applicable</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="P">
                <xs:annotation>
                    <xs:documentation>Preparatory Coursework Graduate Professional Program</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T">
                <xs:annotation>
                    <xs:documentation>Non-Credential Teacher Certification Program</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="U">
                <xs:annotation>
                    <xs:documentation>Preparatory Coursework Undergraduate Program</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ProgramCipCodeTypeEnum">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d+(\.\d+)?"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FederalSchoolCodeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0GBE][0-9]{5}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SapStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RG - Regular"/>
            <xs:enumeration value="FW - Financial Aid Warning"/>
            <xs:enumeration value="FD - Financial Aid Disqualification"/>
            <xs:enumeration value="FP - Financial Aid Probation"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SapComponentStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Pass"/>
            <xs:enumeration value="Fail"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SapAppealStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Approved"/>
            <xs:enumeration value="Denied"/>
            <xs:enumeration value="Canceled"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FundTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Title IV Grant"/>
            <xs:enumeration value="Title IV Loan"/>
            <xs:enumeration value="Title IV Direct Loan"/>
            <xs:enumeration value="Nfr Grant"/>
            <xs:enumeration value="Nfr Loan"/>
            <xs:enumeration value="Student Resources"/>
            <xs:enumeration value="Discount"/>
            <xs:enumeration value="Cash"/>
            <xs:enumeration value="Grant Overpayment"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CountryCodeEnum">
        <xs:annotation>
            <xs:documentation>
                Two-letter (alpha-2) ISO 3166-1 code for one of the 243 countries.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AF"/> <!-- AFGHANISTAN -->
            <xs:enumeration value="AX"/> <!-- &Aring;LAND ISLANDS -->
            <xs:enumeration value="AL"/> <!-- ALBANIA -->
            <xs:enumeration value="DZ"/> <!-- ALGERIA -->
            <xs:enumeration value="AS"/> <!-- AMERICAN SAMOA -->
            <xs:enumeration value="AD"/> <!-- ANDORRA -->
            <xs:enumeration value="AO"/> <!-- ANGOLA -->
            <xs:enumeration value="AI"/> <!-- ANGUILLA -->
            <xs:enumeration value="AQ"/> <!-- ANTARCTICA -->
            <xs:enumeration value="AG"/> <!-- ANTIGUA AND BARBUDA -->
            <xs:enumeration value="AR"/> <!-- ARGENTINA -->
            <xs:enumeration value="AM"/> <!-- ARMENIA -->
            <xs:enumeration value="AW"/> <!-- ARUBA -->
            <xs:enumeration value="AU"/> <!-- AUSTRALIA -->
            <xs:enumeration value="AT"/> <!-- AUSTRIA -->
            <xs:enumeration value="AZ"/> <!-- AZERBAIJAN -->
            <xs:enumeration value="BS"/> <!-- BAHAMAS -->
            <xs:enumeration value="BH"/> <!-- BAHRAIN -->
            <xs:enumeration value="BD"/> <!-- BANGLADESH -->
            <xs:enumeration value="BB"/> <!-- BARBADOS -->
            <xs:enumeration value="BY"/> <!-- BELARUS -->
            <xs:enumeration value="BE"/> <!-- BELGIUM -->
            <xs:enumeration value="BZ"/> <!-- BELIZE -->
            <xs:enumeration value="BJ"/> <!-- BENIN -->
            <xs:enumeration value="BM"/> <!-- BERMUDA -->
            <xs:enumeration value="BT"/> <!-- BHUTAN -->
            <xs:enumeration value="BO"/> <!-- BOLIVIA -->
            <xs:enumeration value="BA"/> <!-- BOSNIA AND HERZEGOVINA -->
            <xs:enumeration value="BW"/> <!-- BOTSWANA -->
            <xs:enumeration value="BV"/> <!-- BOUVET ISLAND -->
            <xs:enumeration value="BR"/> <!-- BRAZIL -->
            <xs:enumeration value="IO"/> <!-- BRITISH INDIAN OCEAN TERRITORY -->
            <xs:enumeration value="BN"/> <!-- BRUNEI DARUSSALAM -->
            <xs:enumeration value="BG"/> <!-- BULGARIA -->
            <xs:enumeration value="BF"/> <!-- BURKINA FASO -->
            <xs:enumeration value="BI"/> <!-- BURUNDI -->
            <xs:enumeration value="KH"/> <!-- CAMBODIA -->
            <xs:enumeration value="CM"/> <!-- CAMEROON -->
            <xs:enumeration value="CA"/> <!-- CANADA -->
            <xs:enumeration value="CV"/> <!-- CAPE VERDE -->
            <xs:enumeration value="KY"/> <!-- CAYMAN ISLANDS -->
            <xs:enumeration value="CF"/> <!-- CENTRAL AFRICAN REPUBLIC -->
            <xs:enumeration value="TD"/> <!-- CHAD -->
            <xs:enumeration value="CL"/> <!-- CHILE -->
            <xs:enumeration value="CN"/> <!-- CHINA -->
            <xs:enumeration value="CX"/> <!-- CHRISTMAS ISLAND -->
            <xs:enumeration value="CC"/> <!-- COCOS (KEELING) ISLANDS -->
            <xs:enumeration value="CO"/> <!-- COLOMBIA -->
            <xs:enumeration value="KM"/> <!-- COMOROS -->
            <xs:enumeration value="CG"/> <!-- CONGO -->
            <xs:enumeration value="CD"/> <!-- CONGO, THE DEMOCRATIC REPUBLIC OF THE -->
            <xs:enumeration value="CK"/> <!-- COOK ISLANDS -->
            <xs:enumeration value="CR"/> <!-- COSTA RICA -->
            <xs:enumeration value="CI"/> <!-- COTE D'IVOIRE -->
            <xs:enumeration value="HR"/> <!-- CROATIA -->
            <xs:enumeration value="CU"/> <!-- CUBA -->
            <xs:enumeration value="CY"/> <!-- CYPRUS -->
            <xs:enumeration value="CZ"/> <!-- CZECH REPUBLIC -->
            <xs:enumeration value="DK"/> <!-- DENMARK -->
            <xs:enumeration value="DJ"/> <!-- DJIBOUTI -->
            <xs:enumeration value="DM"/> <!-- DOMINICA -->
            <xs:enumeration value="DO"/> <!-- DOMINICAN REPUBLIC -->
            <xs:enumeration value="EC"/> <!-- ECUADOR -->
            <xs:enumeration value="EG"/> <!-- EGYPT -->
            <xs:enumeration value="SV"/> <!-- EL SALVADOR -->
            <xs:enumeration value="GQ"/> <!-- EQUATORIAL GUINEA -->
            <xs:enumeration value="ER"/> <!-- ERITREA -->
            <xs:enumeration value="EE"/> <!-- ESTONIA -->
            <xs:enumeration value="ET"/> <!-- ETHIOPIA -->
            <xs:enumeration value="FK"/> <!-- FALKLAND ISLANDS (MALVINAS) -->
            <xs:enumeration value="FO"/> <!-- FAROE ISLANDS -->
            <xs:enumeration value="FJ"/> <!-- FIJI -->
            <xs:enumeration value="FI"/> <!-- FINLAND -->
            <xs:enumeration value="FR"/> <!-- FRANCE -->
            <xs:enumeration value="GF"/> <!-- FRENCH GUIANA -->
            <xs:enumeration value="PF"/> <!-- FRENCH POLYNESIA -->
            <xs:enumeration value="TF"/> <!-- FRENCH SOUTHERN TERRITORIES -->
            <xs:enumeration value="GA"/> <!-- GABON -->
            <xs:enumeration value="GM"/> <!-- GAMBIA -->
            <xs:enumeration value="GE"/> <!-- GEORGIA -->
            <xs:enumeration value="DE"/> <!-- GERMANY -->
            <xs:enumeration value="GH"/> <!-- GHANA -->
            <xs:enumeration value="GI"/> <!-- GIBRALTAR -->
            <xs:enumeration value="GR"/> <!-- GREECE -->
            <xs:enumeration value="GL"/> <!-- GREENLAND -->
            <xs:enumeration value="GD"/> <!-- GRENADA -->
            <xs:enumeration value="GP"/> <!-- GUADELOUPE -->
            <xs:enumeration value="GU"/> <!-- GUAM -->
            <xs:enumeration value="GT"/> <!-- GUATEMALA -->
            <xs:enumeration value="GG"/> <!-- GUERNSEY -->
            <xs:enumeration value="GN"/> <!-- GUINEA -->
            <xs:enumeration value="GW"/> <!-- GUINEA-BISSAU -->
            <xs:enumeration value="GY"/> <!-- GUYANA -->
            <xs:enumeration value="HT"/> <!-- HAITI -->
            <xs:enumeration value="HM"/> <!-- HEARD ISLAND AND MCDONALD ISLANDS -->
            <xs:enumeration value="VA"/> <!-- HOLY SEE (VATICAN CITY STATE) -->
            <xs:enumeration value="HN"/> <!-- HONDURAS -->
            <xs:enumeration value="HK"/> <!-- HONG KONG -->
            <xs:enumeration value="HU"/> <!-- HUNGARY -->
            <xs:enumeration value="IS"/> <!-- ICELAND -->
            <xs:enumeration value="IN"/> <!-- INDIA -->
            <xs:enumeration value="ID"/> <!-- INDONESIA -->
            <xs:enumeration value="IR"/> <!-- IRAN, ISLAMIC REPUBLIC OF -->
            <xs:enumeration value="IQ"/> <!-- IRAQ -->
            <xs:enumeration value="IE"/> <!-- IRELAND -->
            <xs:enumeration value="IM"/> <!-- ISLE OF MAN -->
            <xs:enumeration value="IL"/> <!-- ISRAEL -->
            <xs:enumeration value="IT"/> <!-- ITALY -->
            <xs:enumeration value="JM"/> <!-- JAMAICA -->
            <xs:enumeration value="JP"/> <!-- JAPAN -->
            <xs:enumeration value="JE"/> <!-- JERSEY -->
            <xs:enumeration value="JO"/> <!-- JORDAN -->
            <xs:enumeration value="KZ"/> <!-- KAZAKHSTAN -->
            <xs:enumeration value="KE"/> <!-- KENYA -->
            <xs:enumeration value="KI"/> <!-- KIRIBATI -->
            <xs:enumeration value="KP"/> <!-- KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF -->
            <xs:enumeration value="KR"/> <!-- KOREA, REPUBLIC OF -->
            <xs:enumeration value="KW"/> <!-- KUWAIT -->
            <xs:enumeration value="KG"/> <!-- KYRGYZSTAN -->
            <xs:enumeration value="LA"/> <!-- LAO PEOPLE'S DEMOCRATIC REPUBLIC -->
            <xs:enumeration value="LV"/> <!-- LATVIA -->
            <xs:enumeration value="LB"/> <!-- LEBANON -->
            <xs:enumeration value="LS"/> <!-- LESOTHO -->
            <xs:enumeration value="LR"/> <!-- LIBERIA -->
            <xs:enumeration value="LY"/> <!-- LIBYAN ARAB JAMAHIRIYA -->
            <xs:enumeration value="LI"/> <!-- LIECHTENSTEIN -->
            <xs:enumeration value="LT"/> <!-- LITHUANIA -->
            <xs:enumeration value="LU"/> <!-- LUXEMBOURG -->
            <xs:enumeration value="MO"/> <!-- MACAO -->
            <xs:enumeration value="MK"/> <!-- MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF -->
            <xs:enumeration value="MG"/> <!-- MADAGASCAR -->
            <xs:enumeration value="MW"/> <!-- MALAWI -->
            <xs:enumeration value="MY"/> <!-- MALAYSIA -->
            <xs:enumeration value="MV"/> <!-- MALDIVES -->
            <xs:enumeration value="ML"/> <!-- MALI -->
            <xs:enumeration value="MT"/> <!-- MALTA -->
            <xs:enumeration value="MH"/> <!-- MARSHALL ISLANDS -->
            <xs:enumeration value="MQ"/> <!-- MARTINIQUE -->
            <xs:enumeration value="MR"/> <!-- MAURITANIA -->
            <xs:enumeration value="MU"/> <!-- MAURITIUS -->
            <xs:enumeration value="YT"/> <!-- MAYOTTE -->
            <xs:enumeration value="MX"/> <!-- MEXICO -->
            <xs:enumeration value="FM"/> <!-- MICRONESIA, FEDERATED STATES OF -->
            <xs:enumeration value="MD"/> <!-- MOLDOVA, REPUBLIC OF -->
            <xs:enumeration value="MC"/> <!-- MONACO -->
            <xs:enumeration value="MN"/> <!-- MONGOLIA -->
            <xs:enumeration value="MS"/> <!-- MONTSERRAT -->
            <xs:enumeration value="MA"/> <!-- MOROCCO -->
            <xs:enumeration value="MZ"/> <!-- MOZAMBIQUE -->
            <xs:enumeration value="MM"/> <!-- MYANMAR -->
            <xs:enumeration value="NA"/> <!-- NAMIBIA -->
            <xs:enumeration value="NR"/> <!-- NAURU -->
            <xs:enumeration value="NP"/> <!-- NEPAL -->
            <xs:enumeration value="NL"/> <!-- NETHERLANDS -->
            <xs:enumeration value="AN"/> <!-- NETHERLANDS ANTILLES -->
            <xs:enumeration value="NC"/> <!-- NEW CALEDONIA -->
            <xs:enumeration value="NZ"/> <!-- NEW ZEALAND -->
            <xs:enumeration value="NI"/> <!-- NICARAGUA -->
            <xs:enumeration value="NE"/> <!-- NIGER -->
            <xs:enumeration value="NG"/> <!-- NIGERIA -->
            <xs:enumeration value="NU"/> <!-- NIUE -->
            <xs:enumeration value="NF"/> <!-- NORFOLK ISLAND -->
            <xs:enumeration value="MP"/> <!-- NORTHERN MARIANA ISLANDS -->
            <xs:enumeration value="NO"/> <!-- NORWAY -->
            <xs:enumeration value="OM"/> <!-- OMAN -->
            <xs:enumeration value="PK"/> <!-- PAKISTAN -->
            <xs:enumeration value="PW"/> <!-- PALAU -->
            <xs:enumeration value="PS"/> <!-- PALESTINIAN TERRITORY, OCCUPIED -->
            <xs:enumeration value="PA"/> <!-- PANAMA -->
            <xs:enumeration value="PG"/> <!-- PAPUA NEW GUINEA -->
            <xs:enumeration value="PY"/> <!-- PARAGUAY -->
            <xs:enumeration value="PE"/> <!-- PERU -->
            <xs:enumeration value="PH"/> <!-- PHILIPPINES -->
            <xs:enumeration value="PN"/> <!-- PITCAIRN -->
            <xs:enumeration value="PL"/> <!-- POLAND -->
            <xs:enumeration value="PT"/> <!-- PORTUGAL -->
            <xs:enumeration value="PR"/> <!-- PUERTO RICO -->
            <xs:enumeration value="QA"/> <!-- QATAR -->
            <xs:enumeration value="RE"/> <!-- REUNION -->
            <xs:enumeration value="RO"/> <!-- ROMANIA -->
            <xs:enumeration value="RU"/> <!-- RUSSIAN FEDERATION -->
            <xs:enumeration value="RW"/> <!-- RWANDA -->
            <xs:enumeration value="SH"/> <!-- SAINT HELENA -->
            <xs:enumeration value="KN"/> <!-- SAINT KITTS AND NEVIS -->
            <xs:enumeration value="LC"/> <!-- SAINT LUCIA -->
            <xs:enumeration value="PM"/> <!-- SAINT PIERRE AND MIQUELON -->
            <xs:enumeration value="VC"/> <!-- SAINT VINCENT AND THE GRENADINES -->
            <xs:enumeration value="WS"/> <!-- SAMOA -->
            <xs:enumeration value="SM"/> <!-- SAN MARINO -->
            <xs:enumeration value="ST"/> <!-- SAO TOME AND PRINCIPE -->
            <xs:enumeration value="SA"/> <!-- SAUDI ARABIA -->
            <xs:enumeration value="SN"/> <!-- SENEGAL -->
            <xs:enumeration value="CS"/> <!-- SERBIA AND MONTENEGRO -->
            <xs:enumeration value="SC"/> <!-- SEYCHELLES -->
            <xs:enumeration value="SL"/> <!-- SIERRA LEONE -->
            <xs:enumeration value="SG"/> <!-- SINGAPORE -->
            <xs:enumeration value="SK"/> <!-- SLOVAKIA -->
            <xs:enumeration value="SI"/> <!-- SLOVENIA -->
            <xs:enumeration value="SB"/> <!-- SOLOMON ISLANDS -->
            <xs:enumeration value="SO"/> <!-- SOMALIA -->
            <xs:enumeration value="ZA"/> <!-- SOUTH AFRICA -->
            <xs:enumeration value="GS"/> <!-- SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS -->
            <xs:enumeration value="ES"/> <!-- SPAIN -->
            <xs:enumeration value="LK"/> <!-- SRI LANKA -->
            <xs:enumeration value="SD"/> <!-- SUDAN -->
            <xs:enumeration value="SR"/> <!-- SURINAME -->
            <xs:enumeration value="SJ"/> <!-- SVALBARD AND JAN MAYEN -->
            <xs:enumeration value="SZ"/> <!-- SWAZILAND -->
            <xs:enumeration value="SE"/> <!-- SWEDEN -->
            <xs:enumeration value="CH"/> <!-- SWITZERLAND -->
            <xs:enumeration value="SY"/> <!-- SYRIAN ARAB REPUBLIC -->
            <xs:enumeration value="TW"/> <!-- TAIWAN, PROVINCE OF CHINA -->
            <xs:enumeration value="TJ"/> <!-- TAJIKISTAN -->
            <xs:enumeration value="TZ"/> <!-- TANZANIA, UNITED REPUBLIC OF -->
            <xs:enumeration value="TH"/> <!-- THAILAND -->
            <xs:enumeration value="TL"/> <!-- TIMOR-LESTE -->
            <xs:enumeration value="TG"/> <!-- TOGO -->
            <xs:enumeration value="TK"/> <!-- TOKELAU -->
            <xs:enumeration value="TO"/> <!-- TONGA -->
            <xs:enumeration value="TT"/> <!-- TRINIDAD AND TOBAGO -->
            <xs:enumeration value="TN"/> <!-- TUNISIA -->
            <xs:enumeration value="TR"/> <!-- TURKEY -->
            <xs:enumeration value="TM"/> <!-- TURKMENISTAN -->
            <xs:enumeration value="TC"/> <!-- TURKS AND CAICOS ISLANDS -->
            <xs:enumeration value="TV"/> <!-- TUVALU -->
            <xs:enumeration value="UG"/> <!-- UGANDA -->
            <xs:enumeration value="UA"/> <!-- UKRAINE -->
            <xs:enumeration value="AE"/> <!-- UNITED ARAB EMIRATES -->
            <xs:enumeration value="GB"/> <!-- UNITED KINGDOM -->
            <xs:enumeration value="US"/> <!-- UNITED STATES -->
            <xs:enumeration value="UM"/> <!-- UNITED STATES MINOR OUTLYING ISLANDS -->
            <xs:enumeration value="UY"/> <!-- URUGUAY -->
            <xs:enumeration value="UZ"/> <!-- UZBEKISTAN -->
            <xs:enumeration value="VU"/> <!-- VANUATU -->
            <xs:enumeration value="VE"/> <!-- VENEZUELA -->
            <xs:enumeration value="VN"/> <!-- VIET NAM -->
            <xs:enumeration value="VG"/> <!-- VIRGIN ISLANDS, BRITISH -->
            <xs:enumeration value="VI"/> <!-- VIRGIN ISLANDS, U.S. -->
            <xs:enumeration value="WF"/> <!-- WALLIS AND FUTUNA -->
            <xs:enumeration value="EH"/> <!-- WESTERN SAHARA -->
            <xs:enumeration value="YE"/> <!-- YEMEN -->
            <xs:enumeration value="ZM"/> <!-- ZAMBIA -->
            <xs:enumeration value="ZW"/> <!-- ZIMBABWE -->
            <xs:enumeration value="SS"/> <!-- SOUTH SUDAN --><!-- Note: Added at the end to preserve the order of the older values-->
            <xs:enumeration value="BL"/> <!-- SAINT BARTHELEMY -->
            <xs:enumeration value="MF"/> <!-- SAINT MARTIN (French part) -->
            <xs:enumeration value="RS"/> <!-- SERBIA -->
            <xs:enumeration value="ME"/> <!-- MONTENEGRO -->
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CpsTransactionNumberType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="99"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IsirStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Inactive"/>
            <xs:enumeration value="Pending"/>
            <xs:enumeration value="Unverified"/>
            <xs:enumeration value="Invalid"/>
            <xs:enumeration value="Corrected"/>
            <xs:enumeration value="Valid"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IsirCodeTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Assumption"/>
            <xs:enumeration value="Highlight"/>
            <xs:enumeration value="Comment/C-code"/>
            <xs:enumeration value="Reject Code"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IsirCodeStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Clearance Not Required"/>
            <xs:enumeration value="Processing"/>
            <xs:enumeration value="Student Follow Up"/>
            <xs:enumeration value="Auto Cleared"/>
            <xs:enumeration value="Manually Cleared"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AuthorizerEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Student"/>
            <xs:enumeration value="Parent"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StudentsTermStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Re-Entering Withdrawn Term"/>
            <xs:enumeration value="Withdrawn"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>