sfp-xsd-22.1.0.0/xsd/common/FasStudentAcademicsCommon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

COPYRIGHT (C) 2013 VOCADO, LLC.  ALL RIGHTS RESERVED.  THIS SOFTWARE CONTAINS
TRADE SECRETS AND/OR CONFIDENTIAL INFORMATION PROPRIETARY TO VOCADO, LLC
AND/OR ITS LICENSORS. ACCESS TO AND USE OF THIS INFORMATION IS STRICTLY
LIMITED AND CONTROLLED BY VOCADO, LLC.  THIS SOFTWARE MAY NOT BE COPIED,
MODIFIED, DISTRIBUTED, DISPLAYED, DISCLOSED OR USED IN ANY WAY NOT EXPRESSLY
AUTHORIZED BY VOCADO, LLC IN WRITING.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.vocado.com/vm/fas"
           xmlns:vc="http://www.vocado.com/vm/common"
           targetNamespace="http://www.vocado.com/vm/fas"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <xs:include schemaLocation="FasCommon.xsd"/>
    <xs:import namespace="http://www.vocado.com/vm/common" schemaLocation="VocadoCommon.xsd"/>

    <xs:complexType name="FasBaseAcademicYearType">
        <xs:sequence>
            <xs:element name="AcademicYearNumber" type="vc:PositiveIntType"/>
            <xs:element name="StartDate" type="xs:date"/>
            <xs:element name="PeriodOfEnrollmentStartDate" type="xs:date" minOccurs="0"/>
            <xs:element name="EndDate" type="xs:date"/>
            <xs:element name="PeriodOfEnrollmentEndDate" type="xs:date" minOccurs="0"/>
            <xs:element name="ApplicationId" type="vc:PositiveIntType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FasBaseLoanPeriodType">
        <xs:sequence>
            <xs:element name="StartDate" type="xs:date"/>
            <xs:element name="EndDate" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FasBaseLoanPeriodTypeV2">
        <xs:complexContent>
            <xs:extension base="FasBaseLoanPeriodType">
                <xs:sequence>
                    <xs:element name="LoanPeriodNumber" type="LoanPeriodNumberType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="FasBaseLoanPaymentPeriodType">
        <xs:sequence>
            <xs:element name="LoanPaymentPeriodNumber" type="LoanPaymentPeriodNumberType"/>
            <xs:element name="StartDate" type="xs:date"/>
            <xs:element name="EndDate" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FasBaseNfrPeriodType">
        <xs:sequence>
            <xs:element name="NfrPeriodNumber" type="vc:NonNegativeIntType"/>
            <xs:element name="AwardYear" type="AwardYearType" minOccurs="0"/>
            <xs:element name="StartDate" type="xs:date"/>
            <xs:element name="EndDate" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FasBaseProgramType" abstract="true">
        <xs:sequence>

            <xs:element name="ExternalProgramId" type="vc:ExternalIdentifierType">
                <xs:annotation>
                    <xs:documentation>The external Program ID from the system of Record. Two programs cannot have the
                        same external Program ID in the same message
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Code" type="vc:NonBlankStringType">
                <xs:annotation>
                    <xs:documentation>The Program Code. Must be a valid concatenation of program and concentration. E.g.
                        MBA
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Description" type="vc:NonBlankStringType">
                <xs:annotation>
                    <xs:documentation>Must be a valid concatenation of program, concentration and version. E.g. MBA
                        version 001
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ProgramType" type="ProgramTypeEnum"/>
            <xs:element name="FirstProfessionalDegreeIndicator" type="xs:boolean" minOccurs="0"/>
            <xs:element name="College" type="vc:NonBlankStringType" minOccurs="0"/>

            <!--todo (DL: 2014-07-02)  Field is required for 14/15 award year but Vocado will assume a default value until we can enforce this constraint -->
            <xs:element name="SpecialPrograms" type="SpecialProgramsTypeEnum" minOccurs="0"/>

            <!--todo (DL: 2014-07-02)  Field is required for 14/15 award year but Vocado will assume a default value until we can enforce this constraint -->
            <xs:element name="ProgramCipCode" type="ProgramCipCodeTypeEnum" minOccurs="0"/>

            <xs:element name="ProgramLength">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ProgramLengthMeasurementUnit" type="ProgramLengthMeasurementUnitEnum">
                            <xs:annotation>
                                <xs:documentation>Measurement unit used to determine the program length
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="NumberOfUnits" type="vc:NonNegativeIntType">
                            <xs:annotation>
                                <xs:documentation>Number of units corresponding to the Program Length Measurement Unit
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="ProgramMeasurementUnit" type="MeasurementUnitEnum">
                <xs:annotation>
                    <xs:documentation>Indicates the way that progress in this program is measured. This is either Credit
                        or Clock. Note that only Academic Year Definitions which use the same measurement unit will be
                        acceptable with this program.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="TransferInformation" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Institution" type="FasBaseTransferInformationType" minOccurs="0"
                                    maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="AssessedUnits" type="vc:TwoFractionDigitsType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The number of Units that are assessed and attributed to the student for this
                        program over and above the transfer credits that may have been earned and assessed.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="TotalRequiredUnits" type="vc:TwoFractionDigitsType">
                <xs:annotation>
                    <xs:documentation>This is the number of Units that are required to complete this program of Study
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- Note: client enum used only for display -->
            <xs:element name="PrimaryLocation" type="vc:NonBlankStringType">
                <xs:annotation>
                    <xs:documentation>This must be a string that identifies the campus where the program is primarily
                        offered. It must match exactly the string identifier used to identify campuses in the system of
                        record. e.g. "Online"
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="OpeId" type="OpeIdType">
                <xs:annotation>
                    <xs:documentation>OPEID must consist of 8 digits</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Modality" type="ModalityEnum">
                <xs:annotation>
                    <xs:documentation>The modality of the Program. This is set by the system of record. At least one of
                        the course sub element's Modality fields should match this modality field
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="FaEligibleIndicator" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Is this Program eligible for Federal Financial Aid. All courses that are included
                        in this program are automatically eligible for financial aid if the Program is FAEligible.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Ayd" type="FasBaseAydType">
                <xs:annotation>
                    <xs:documentation>Academic Year Definition</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="PrimaryProgramIndicator" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Is this the primary program. A student may have more than one program and this
                        indicator determines which one is the primary one. Only one program can have this flag set
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Gpa" minOccurs="0" type="vc:NonNegativeDoubleType">
                <xs:annotation>
                    <xs:documentation>This is the Grade Point Average for the program so far. It is updated whenever the
                        System of Record receives new grades.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="RequiredGpa" minOccurs="0" type="vc:NonNegativeDoubleType">
                <xs:annotation>
                    <xs:documentation>This is the required GPA to be used at the time that SAP is determined.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ProgramStartDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Start date of the program.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ChangeOfProgramStartDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>If the student is being converted in Vocado and they're in their first Academic
                        Year of the program change in a non-term environment, while staying in the same "payment
                        period", then we need to know the date for which the new program begins.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="AcademicCompletionDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Date for which the student's program is completed</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="OfficialLastDateOfAttendance" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>This is the Official Last Date of Attendance for the Program of study determined
                        by the SIS. It must match with the Last Date of Attendance in the included course elements. i.e.
                        at least one of the included courses must have this exact Last Date of Attendance and none of
                        the included courses must contain a Last Date of Attendance greater than this OLDA.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="DateOfDetermination" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Date for which the Institution became aware of the student's withdrawal
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="EnrollmentStatus" type="StudentEnrollmentStatusEnum">
                <xs:annotation>
                    <xs:documentation>Student's enrollment status. If student is Deceased this status must be the same
                        in all programs
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="EnrollmentStatusSubType" type="StudentEnrollmentStatusSubTypeEnum" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Additional field to describe the enrollment status
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="EnrollmentStatusEffectiveDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>The date at which the current enrollment state went took effect. This must be
                        updated whenever the enrollment status changes
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- Note: client enum used only for display -->
            <xs:element name="AdmissionStatus" type="vc:NonBlankStringType">
                <xs:annotation>
                    <xs:documentation>The admissions status of the student in this program. The statuses are client
                        specific but the string here must uniquely identify distinct status.
                        Technical note: client enumeration (for display only)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- Note: client enum used only for display -->
            <xs:element name="AcademicStatus" type="vc:NonBlankStringType">
                <xs:annotation>
                    <xs:documentation>The academic status of the student in this program. The statuses are client
                        specific but the string here must uniquely identify distinct status.
                        Technical note: client enumeration (for display only)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ManualSapEvaluationIndicator" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>This indicator will be set to true when SAP must be evaluated manually
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ReturnToTitleIvSafiIndicator" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Used to indicate that the R2T4 should be calculated for the program using this
                        SAFI
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="CreditBalances" type="CreditBalances" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Credit balances</xs:documentation>
                </xs:annotation>
            </xs:element>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CreditBalances">
        <xs:sequence>
            <xs:element name="CreditBalance" type="FasBaseCreditBalanceRefType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="TermTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Semester"/>
            <xs:enumeration value="Trimester"/>
            <xs:enumeration value="Quarter"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="FasBaseTransferInformationType">
        <xs:sequence>

            <xs:element name="Name" type="vc:NonBlankStringType">
                <xs:annotation>
                    <xs:documentation>Institution name</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="NsldsSchoolCode" type="FederalSchoolCodeType">
                <xs:annotation>
                    <xs:documentation>NSLDS School Code for the Institution</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="TotalAcceptedUnits" type="vc:TwoFractionDigitsTypeNeg">
                <xs:annotation>
                    <xs:documentation>The total number of transfer units that have been accepted towards this program.
                        Negative values are allowed.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FasBaseAydType">
        <xs:sequence>

            <xs:element name="AcademicYearMeasurementUnit" type="MeasurementUnitEnum">
                <xs:annotation>
                    <xs:documentation>Units used to measure program progress in the academic year. Either Credits or
                        Clock-Hours are used
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="NumberOfUnits">
                <xs:annotation>
                    <xs:documentation>The number of Units (Credits or Hours) that must be completed for each academic
                        year
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:double">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="NumberOfInstructionalWeeks" type="vc:NonNegativeIntType">
                <xs:annotation>
                    <xs:documentation>The number of Instructional Weeks that must be completed for each academic year
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FasBaseCourseType" abstract="true">
        <xs:sequence>

            <xs:element name="ExternalCourseId" type="vc:ExternalIdentifierType">
                <xs:annotation>
                    <xs:documentation>This is the external Identifier for the course. e.g. 124453</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Description" type="xs:string">
                <xs:annotation>
                    <xs:documentation>This is the description of the course. e.g. MATH 101</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="SchedulingStatus" type="SchedulingStatusEnum">
                <xs:annotation>
                    <xs:documentation>Scheduling status for this course</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="StartDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>The start date of the course</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="EndDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>The end date of the course</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="FirstAraIndicator" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Indicator to define if the student has achieved their first academic related
                        activity for the course
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="IncompleteResolutionDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Date for which the course grade changed from an Incomplete to a grade
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Grade" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>This is the grade that the student has received for this course. The grade is used
                        for display purposes only and may any two character string
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="Units" type="vc:NonNegativeDoubleType">
                <xs:annotation>
                    <xs:documentation>Number of Credits or Clock hours that can be earned from this course
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="DegreeApplicableUnits" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:double">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="Comments" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Comments that are to be displayed associated with the course. Eg. "The course is
                        incomplete because the student had an accident in the last week"
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ProgramGpaAtCourseEnd" minOccurs="0" type="vc:NonNegativeDoubleType">
                <xs:annotation>
                    <xs:documentation>This is the student's Program GPA as it was at the end date of the course.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="LastDateOfAttendance" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>This is the last date of attendance for the course. It is set by the SIS system of
                        record . No course's Last Date of Attendance can be later than the program's Last Date of
                        attendance. Also, this date must not be after the latest end date in a schedule sub element
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Location" type="vc:NonBlankStringType">
                <xs:annotation>
                    <xs:documentation>Indicates the location of the course</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Modality" type="ModalityEnum">
                <xs:annotation>
                    <xs:documentation>The modailty of the course</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="SapApplicable" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Identifying whether a course should be included in a SAP evaluation or not
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="RepeatIndicator" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indicates if the course has previously been passed and the course is considered
                        a repeat
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="TermStartDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        The start date of the term this course should be assigned to (when overlapping terms)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FasBaseChargeType">
        <xs:sequence>
            <xs:element name="ExternalChargeId" type="vc:ExternalIdentifierType">
                <xs:annotation>
                    <xs:documentation>The identifier of this instance of the charge type for this student
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ChargeType" type="ChargeTypeEnum">
                <xs:annotation>
                    <xs:documentation>The type of charge</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Description" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Description of the Estimated/Invoiced Charge</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Date" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Date the change has been applied to the student's ledger</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Amount" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>The amount that is to be charged. This number is positive to denote charges.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="OpenAmount" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>Amount not associated to any payment</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="FaEligibleIndicator" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Indicator the identifies charges that are FA eligible</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="R2T4OnlyIndicator" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indicator that identifies if the charge should only be used during the
                        R2T4 process
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Status" type="AccountingStatusEnum">
                <xs:annotation>
                    <xs:documentation>The status of this charge either Actual or Estimated</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Adjustments" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Adjustment" type="FasBaseAdjustmentType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FasBaseAdjustmentType">
        <xs:sequence>
            <xs:element name="ExternalAdjustmentId" type="vc:ExternalIdentifierType">
                <xs:annotation>
                    <xs:documentation>The identifier of this instance of the adjustment for this students charge
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- todo: marked as TBD by PM -->
            <xs:element name="Type" type="AdjustmentType">
                <xs:annotation>
                    <xs:documentation>Type of adjustment</xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- todo: marked as TBD by PM -->
            <xs:element name="Description" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A description of the adjustment made to the student's charge</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Date" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Date the adjustment has been applied to the student's ledger</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Amount" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>The amount that charge is to be adjusted by. This number is positive to denote
                        charges.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Status" type="AccountingStatusEnum">
                <xs:annotation>
                    <xs:documentation>The status of this adjustment either Actual or Estimated</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FasBaseStudentResourceType">
        <xs:sequence>

            <xs:element name="ExternalTransactionId" type="vc:ExternalIdentifierType">
                <xs:annotation>
                    <xs:documentation>An external identifier for this instance of the fund code applied to this student.
                        Each application of a fund code to a student will elicit a new id
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="PaymentId" type="vc:ExternalIdentifierType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Unique Identifier for the payment</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Source" type="xs:string">
                <xs:annotation>
                    <xs:documentation>A string identifying the system that supplied information about this funding
                        resource
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="FundCode" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The code for the funding resource. This code must match the identifier of the
                        funding resource specified in Id. It must also match a fund configured in the fund configuration
                        engine. e.g. MNSTATEGRANT
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Description" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A description of the fund being added to the student's package</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Amount" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>This is the amount of money available in this resource. This number is positive to
                        denote resources
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="CreditBalanceIndicator" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indicates whether a credit balance calculation should be inclusive of the
                        unapplied amount
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ResourceFeeDiscountIndicator" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indicator representing if the discount is being used to pay for a resource fee
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="LedgerPostingDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Date the fund was posted to the student's account</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="UnappliedAmount" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Amount that has not been used to pay for a charge on the student's account
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="AmtAppliedToPrior" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Amount applied to prior</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Status" type="AccountingStatusEnum">
                <xs:annotation>
                    <xs:documentation>Status of this resource. Either Actial or Estimated</xs:documentation>
                </xs:annotation>
            </xs:element>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FasBaseCreditBalanceRefType">
        <xs:sequence>
            <xs:element name="CreditBalanceId" type="vc:ExternalIdentifierType">
                <xs:annotation>
                    <xs:documentation>Vocado generated ID that is the unique identifier for the Credit Balance
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Status" type="CreditBalanceStatusEnum">
                <xs:annotation>
                    <xs:documentation>Status of the credit balance</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostedAmount" type="vc:NonNegativeDecimalType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Credit Balance Amount Posted to the Ledger</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FasBaseRefundRefType">
        <xs:sequence>
            <xs:element name="ReturnId" type="vc:ExternalIdentifierType">
                <xs:annotation>
                    <xs:documentation>Vocado generated number that is the unique identifier for the Refund
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Status" type="RefundStatusEnum">
                <xs:annotation>
                    <xs:documentation>Status of the refund</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Amount" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Amount of the refund</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LedgerPostingDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Ledger posting date of the refund</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="PaymentPeriodNumberType">
        <xs:restriction base="vc:PositiveIntType"/>
    </xs:simpleType>

    <xs:simpleType name="LoanPeriodNumberType">
        <xs:restriction base="vc:PositiveIntType"/>
    </xs:simpleType>

    <xs:simpleType name="LoanPaymentPeriodNumberType">
        <xs:restriction base="vc:PositiveIntType"/>
    </xs:simpleType>

    <xs:complexType name="FasBasePaymentPeriodType">
        <xs:sequence>
            <xs:element name="PaymentPeriodNumber" type="PaymentPeriodNumberType"/>
            <xs:element name="StartDate" type="xs:date"/>
            <xs:element name="EndDate" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="OpeIdType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ClientMessageType">
        <xs:sequence>
            <xs:element name="MessageDescription" minOccurs="0" type="xs:string"/>
            <xs:element name="Message" type="xs:string"/>
            <xs:element name="AccountingUpdatesIndicator" minOccurs="0" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="AdjustmentType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
