sfp-xsd-22.1.0.0/xsd/common/VocadoCommon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

COPYRIGHT (C) 2013 VOCADO, LLC.  ALL RIGHTS RESERVED.  THIS SOFTWARE CONTAINS
TRADE SECRETS AND/OR CONFIDENTIAL INFORMATION PROPRIETARY TO VOCADO, LLC
AND/OR ITS LICENSORS. ACCESS TO AND USE OF THIS INFORMATION IS STRICTLY
LIMITED AND CONTROLLED BY VOCADO, LLC.  THIS SOFTWARE MAY NOT BE COPIED,
MODIFIED, DISTRIBUTED, DISPLAYED, DISCLOSED OR USED IN ANY WAY NOT EXPRESSLY
AUTHORIZED BY VOCADO, LLC IN WRITING.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.vocado.com/vm/common"
           targetNamespace="http://www.vocado.com/vm/common"
           elementFormDefault="qualified">

    <xs:element name="MessageValidationErrorEvent">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    Event message sent by the receiver (either Vocado or Client) of a previously
                    received event message to inform the requester of one or more validation errors.
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="EnvelopeType">
                    <xs:sequence>
                        <xs:element name="FailedMessageId" type="UuidType"/>
                        <xs:element name="FailedMessageClass" type="xs:string"/>
                        <xs:element name="FailedMessageCreationDateTime" type="xs:dateTime"/>
                        <xs:element name="Errors">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Error"
                                                type="MessageValidationErrorEvent_Error"
                                                maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="MessageValidationErrorReply">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    Reply message sent in response to a request message that failed validation.
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="EnvelopeType">
                    <xs:sequence>
                        <xs:element name="FailedMessageId" type="UuidType"/>
                        <xs:element name="FailedMessageClass" type="xs:string"/>
                        <xs:element name="FailedMessageCreationDateTime" type="xs:dateTime"/>
                        <xs:element name="Errors">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Error"
                                                type="MessageValidationErrorEvent_Error"
                                                maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="MessageValidationErrorEvent_Error">
        <xs:sequence>
            <xs:element name="Code" type="MessageErrorCodeEnum" minOccurs="0"/>
            <xs:element name="Message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>


    <xs:simpleType name="MessageErrorCodeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNCATEGORIZED">
                <xs:annotation>
                    <xs:documentation>
                        This code represents any error that did not match any of the existing, more specific,
                        error codes listed in this enumeration. An error is generally reported as uncategorized
                        when it is unexpected or when Vocado, for any reason, is unable to identify the proper
                        error type. Check the error message for more details.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INVALID_XML">
                <xs:annotation>
                    <xs:documentation>
                        This code is used to report XML validation errors. Check the error message for more details.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STUDENT_RECORD_NOT_FOUND">
                <xs:annotation>
                    <xs:documentation>
                        This code is used to report that a student record referenced in the initiating message
                        was not found in the database. Check the error message for more details.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SAFI_DATA_NOT_FOUND">
                <xs:annotation>
                    <xs:documentation>
                        This code is used to report that no SAFI data was found for the student referenced in the
                        initiating message. Check the error message for more details.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ISIR_NOT_FOUND">
                <xs:annotation>
                    <xs:documentation>
                        This code is used to report that no ISIR record was found for the student referenced in the
                        initiating message. Check the error message for more details.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="APP_PROC_NOT_FOUND">
                <xs:annotation>
                    <xs:documentation>
                        This code is used to report that no Application Process was found for the student referenced in the
                        initiating message. Check the error message for more details.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INVALID_AWARD_YEAR">
                <xs:annotation>
                    <xs:documentation>
                        This code is used to report an invalid award year. Check the error message for more details.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INVALID_REQUEST_PARAMS">
                <xs:annotation>
                    <xs:documentation>
                        This code is used to report invalid request params. Check the error message for more details.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PACKAGE_DATA_NOT_FOUND">
                <xs:annotation>
                    <xs:documentation>
                        This code is used to report that no package data referenced in the initiating message was found.
                        Check the error message for more details.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STUDENT_AWARD_NOT_FOUND">
                <xs:annotation>
                    <xs:documentation>
                        This code is used to report that no student award referenced in the initiating message was found.
                        Check the error message for more details.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DOCUMENT_NOT_FOUND">
                <xs:annotation>
                    <xs:documentation>
                        This code is used to report that no document referenced in the initiating message was found.
                        Check the error message for more details.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <!--
            <xs:enumeration value="STUDENT_PACKAGE_NOT_FOUND"/>
            <xs:enumeration value="STUDENT_AWARD_NOT_FOUND"/>
            -->
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="EnvelopeType" abstract="true">
        <xs:sequence>
            <xs:element name="MessageHeaders" type="MessageHeadersType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MessageHeadersType">
        <xs:sequence>
            <xs:element name="MessageId" type="UuidType">
                <xs:annotation>
                    <xs:documentation>
                        Globally unique identifier of the current message. It's the responsibility
                        of the origin system to generate this as a valid UUID (Universally
                        unique identifier)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreationDateTime" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>
                        Timestamp of when this message was constructed. This value must be
                        consistent (specially in the case of clusters) and precise (include
                        milliseconds and timezone). For example: 2012-07-16T19:20:30.450+01:00
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CorrelationId" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Generic identifier that provides correlation between messages. The
                        format of this ID is context dependent.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SystemInfo" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        String that identifies the system sending the message. It's used
                        for auditing purposes only.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MessageClass" type="NonBlankStringType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        This field is not populated for normal XML messages. It exists in the schema only to support the translation
                        to other formats like JSON that do not provide a way for the receiver to determine the message class from
                        the payload. For all other uses it should be ignored.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="UuidType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="PercentageType">
        <xs:annotation>
            <xs:documentation>Specifies a percentage from 0 to 1</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Percentage100Type">
        <xs:annotation>
            <xs:documentation>Specifies a percentage from 0 to 100</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="100"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PellLeuPercentageType">
        <xs:annotation>
            <xs:documentation>Specifies a percentage from 0.0000 (no upper limit) with upto 4 fraction digits
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NonBlankStringType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:pattern value=".*[^\s].*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NonNegativeIntType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PositiveIntType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NonNegativeDoubleType">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NonNegativeDecimalType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TwoFractionDigitsType">
        <xs:restriction base="xs:double">
            <!-- Note that fractionDigits works only with decimal -->
            <xs:pattern value="\d+(\.\d{1,2})?"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TwoFractionDigitsTypeNeg">
        <xs:restriction base="xs:double">
            <!-- Note that fractionDigits works only with decimal -->
            <xs:pattern value="-?\d+(\.\d{1,2})?"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ExternalIdentifierType">
        <xs:annotation>
            <xs:documentation>
                General purpose identifier provided by external systems when communication data records to Vocado.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:pattern value=".*[^\s].*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Base64BlobType">
        <xs:simpleContent>
            <xs:extension base="xs:base64Binary">
                <xs:attribute name="contentType" type="xs:string" use="required"/>
                <xs:attribute name="contentLength" type="xs:integer" use="required"/>
                <xs:attribute name="contentEncoding" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:element name="ApplicationEventInformationRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="EnvelopeType">
                    <xs:sequence>
                        <xs:element name="MaxResults">
                            <xs:simpleType>
                                <xs:restriction base="xs:int">
                                    <xs:minExclusive value="1"/>
                                    <xs:maxInclusive value="10000"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="ApplicationEventInformationReply">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="EnvelopeType">
                    <xs:sequence>
                        <xs:element name="ApplicationEvents">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ApplicationEvent"
                                                type="ApplicationEvent_Entry"
                                                minOccurs="0"
                                                maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="ApplicationEvent_Entry">
        <xs:sequence>
            <xs:element name="Category" type="xs:string"/>
            <xs:element name="EventDateTime" type="xs:dateTime"/>
            <xs:element name="Description" type="xs:string"/>
            <xs:element name="MessageId" type="UuidType" minOccurs="0"/>
            <xs:element name="MessageClass" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="MoneyType">
        <!-- In order to use the MoneyType, make sure to add an entry in the bindings.xjb file -->
        <xs:restriction base="xs:decimal"/>
    </xs:simpleType>

    <xs:simpleType name="NonNegativeMoneyType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
